# 연관규칙 탐색 

- antecedant and consequent

![2_52.png](../materials/2_52.png)
![2_52.png](../materials/2_53.png)

![2_52.png](../materials/2_54.png)

- Support :  A, B가 동시에 발생한 횟수 / 전체 트렌젝션 데이터 크기
- Confidence :  A, B가 동시에 발생한 횟수 / A 발생한 것 가운데

![2_52.png](../materials/2_55.png)
![2_52.png](../materials/2_56.png)

- 아이템집합 격자 
    - 각 `node`는 하나의 아이템 집합을 의미. 
    - 해당 노드에 포함되는 아이템인 경우는 `edge`가 그어진다. 

![2_52.png](../materials/2_57.png)

- 최소 지지도(교집합/전체)는 사용자가 정의하는 지지도. 이 규칙을 넘어서면 frequent한 것. 
- `Apriori 원리`: 어떤 아이템 집합이 frequent 하면(즉, minimum support 이상이면), 그 아이템의 부분집합 또한 frequent하다. 
    - 즉, 빵과 우유의 집합이 빈발하면 빵과 우유는 각각 둘다 빈발하다. 
    - 하단 증명 보면 너무 당연함. 

![2_52.png](../materials/2_58.png)

- `AB`집합이 not frequent한 경우, 그 부모의 집합도 빈발하지 않다. 
    - 위 증명에 대한 대우 명제. 
    - `대우명제` : **부분 집합이 not frequent -> 그 부모의 집합도 not frequent**

- 즉, 아랫 단계에서 AB가 not frequent가 판단되는 순간 그 부모 집합들 싹다 배재하면 되는 것. 효율적인 탐색이 가능하다. 


![2_52.png](../materials/2_59.png)

조금 더 말로 풀어보자면 다음과 같다. 
- 최대 빈발 아이템 집합 : 최소 지지도 이상이면서, 이 집합의 모든 부모들은 not frequent한 집합. 
    - 즉, {A, B, C}는 frequent한데, {A, B, C, D}. {A, B, C, E}, {A, B, C, D. E} 등 그 부모가 될 수 있는 모든 집합이 not frequent
    - 그렇다면, {A, B, C}는 최대빈발아이템집합
- {A, B, C}는 frequent하기 때문에 {A, B, C}의 부분집합들은 싹다 Frequent. 
- 이제 그 A, B, C를 가지고 부모와 자식이 될 수 있는 모든 경우의 수를 따진 것이 아래 테이블과 같다. 


![2_52.png](../materials/2_60.png)

**Confidence** :  A, B가 동시에 발생한 횟수 / A 발생한 것 가운데
- 그렇다면 신뢰도에 대한 Apriori 원리는?
- **동일한 아이템 집합으로 만든 규칙**. X1이 X2에 속하게 되면, `C(X1 -> Y1) <= C(X2 -> Y2)`가 성립한다. 

![2_52.png](../materials/2_61.png)

- 모두가 같은 아이템 집합에서 온 경우 
- 맨 위부터 부모에 가능한 한 많이 넣는 경우부터 출발. 
- A와 B는 {A, B}의 부분집합 이기 때문에, `A-> `, `B->`의 신뢰도는 반드시 `{A, B} -> `보다 낮을 수 밖에 없다. 

![2_52.png](../materials/2_62.png)

**즉, 정리하자먄, 지지도에 대한 Apriori원리는 최대빈발아이템 집합을 찾는데 사용하고, 신뢰도에 대한 Apriori 원리는 최대빈발아이템 집합으로 부터 만들어지는 규칙들 가운데 최소신뢰도 이하인 것을 탐색하는데 활용한다. **

패키지가 있으나, 직접 구현해도 그렇게 어렵진 않다. 빈발 아이템 규칙을 먼저 찾아내고 연관 규칙을 찾아내는 **두 단계**에 걸쳐 수행한다. 

- apiori 함수 : 빈발 아이템 집합을 탐색하는데 사용한다. 
- association rules 함수 : 연관규칙 탐색하는데 사용된다.
![2_52.png](../materials/2_63.png)

- 연관규칙 탐사에 적절하게 거래 데이터 구조를 바꾸기 위한 함수이다. 
- 인스턴스 생성 후, 원본 data를 각 아이템의 출현 여부를 같는 ndarray 및 DataFrame으로 변환해준다. 
![2_52.png](../materials/2_64.png)

향상도 (Lift)

: 항목집합 X가 주어지지 않았을 때의 항목집합 Y의 확률 대비 항목집합 X가 주어졌을 대 항목집합 Y의 확률 증가 비율을 말합니다. 다른말로 표현하자면, 향상도가 1보다 크거나(+관계) 작다면(-관계) 우연적 기회(random chance)보다 우수함을 의미합니다. (X와 Y가 서로 독립이면 Lift = 1)

향상도(Lift)

= 연관규칙의 신뢰도/지지도 = c(X→Y) / s(Y)

 

출처: https://rfriend.tistory.com/191 [R, Python 분석과 프로그래밍의 친구 (by R Friend)]

In [11]:
import os
import pandas as pd

os.chdir(r"/Users/sanghyuk/Documents/preprocessing_python/lecture_source/2. 탐색적 데이터 분석/데이터")


import pandas as pd
df = pd.read_csv("Instacart Market Basket Analysis.csv")

In [12]:
df.head()

# order_id = 1번 주문에 대해서, product_id에 해당되는 물건들이 주문된 것.

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [13]:
# 잘 보면, 비율 자체가 그렇게 높지 않음. 
# 다른 데이터들도 대부분 그렇다. 

df['product_id'].value_counts(normalize = True).head(100)

24852    0.013524
13176    0.011180
21137    0.007868
21903    0.007066
47626    0.005875
           ...
8193     0.001024
9387     0.000996
37687    0.000984
20995    0.000983
34243    0.000976
Name: product_id, Length: 100, dtype: float64

현재 위 데이터는 각 Order_id별로, Product_id가 각각 한 row씩 먹고 있어서, 데이터 분석으로 부적절하다. <br>
데이터 구조를 바꿔 줘야 함.

In [14]:
# group by, apply(list) 자주 쓰네. 

product_list_per_order = df.groupby('order_id')['product_id'].apply(list)

In [15]:
product_list_per_order

order_id
1          [49302, 11109, 10246, 49683, 43633, 13176, 472...
36         [39612, 19660, 49235, 43086, 46620, 34497, 486...
38         [11913, 18159, 4461, 21616, 23622, 32433, 2884...
96         [20574, 30391, 40706, 25610, 27966, 24489, 39275]
98         [8859, 19731, 43654, 13176, 4357, 37664, 34065...
                                 ...
3421049           [40800, 17706, 33424, 17299, 26800, 34243]
3421056                    [5750, 9340, 21709, 16475, 12432]
3421058    [15629, 4347, 34466, 6244, 6858, 30316, 35578,...
3421063                         [49235, 13565, 14233, 35548]
3421070                                 [35951, 16953, 4724]
Name: product_id, Length: 131209, dtype: object

In [7]:
# !pip3 install mlxtend

In [16]:
len(np.unique(df['product_id']))

39123

In [19]:
print(len(one_hot_df.index))
print(len(np.unique(df['order_id'])))

131209
131209

In [18]:
# 구매 기록 데이터 -> One hot encoding 데이터
from mlxtend.preprocessing import TransactionEncoder
encoder = TransactionEncoder() # 인스턴스화

# columns are product_id
one_hot_df = encoder.fit(product_list_per_order).transform(product_list_per_order) # 결과: ndarray
one_hot_df = pd.DataFrame(one_hot_df, columns = encoder.columns_)
one_hot_df.tail() # 매우 희소 (sparse)

,1,2,3,4,5,7,8,9,10,11,...,49677,49678,49679,49680,49681,49682,49683,49686,49687,49688
131204,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
131205,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
131206,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
131207,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
131208,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
from mlxtend.frequent_patterns import *

frequent_item_df = apriori(one_hot_df, min_support = 0.003) # 0.3% 이상 구매한 상품만 대상으로 함, 실제로는 이 정도 숫자도 흔치가 않다. 보통은 1%도 안된다. 
# confidence 0.1 이상인 연관규칙을 뽑아내겠다. 
result = association_rules(frequent_item_df, metric = 'confidence', min_threshold = 0.1)
result[['antecedents', 'consequents', 'support', 'confidence']].sort_values(by = 'confidence', ascending = False).to_csv("연관규칙탐사결과.csv", index = False)

In [ ]:
frequent_item_df

여러가지 리포트 지표들이 보인다. 
- antecedent, consequent의 Support를 각각 보여준다.

In [9]:
result.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(12022),(1815),0.014206,0.008887,0.003018,0.212446,23.906409,0.002892,1.258471
1,(1815),(12022),0.008887,0.014206,0.003018,0.339623,23.906409,0.002892,1.492773
2,(3640),(17300),0.028672,0.074568,0.004146,0.144604,1.939221,0.002008,1.081875
3,(3640),(19574),0.028672,0.142719,0.008163,0.284689,1.994754,0.004071,1.198473
4,(3640),(20648),0.028672,0.045980,0.003780,0.131845,2.867432,0.002462,1.098905

# Association Rule For Sequence Data

- 순서가 있고드 레코드의 길이가 다 다를 수 있다. 
- 로그 데이터의 대부분이 이런 형태의 데이터.

![2_65.png](../materials/2_65.png)

- 앞에서는 순서를 고려하지 않았지만, 여기서는 순서가 포인트. 
- 위에서 했던 분석은, {A, B}, {B, A}가 둘다 카운팅 되지만, 여기서는 `A -> B`의 순서까지 동일해야 카운팅 된다.

![2_65.png](../materials/2_66.png)

#### 정의가 필요한 부분이 생김
- 아래와 같은 데이터에서, `A -> C`는 출현했다고 해야 하는가 아니라고 해야 하는가?
- 이 부분은 분석하는 사용자가 설정하는 부분임. 
- 이 개념을 일반화 시킨 부분이 `Window`라는 개념. 크기 L. 
- 예를 들어, `L=1`이라고 셋팅했다면, 곧바로 발생한 것만 카운팅 하겠다는 것. 
- 아래에서 `A->B`는 카운팅이 맞지만, `A->C`는 윈도우 내에 등장하지 않은 것. 
- `L=2`까지 둔다면, A->C도 카운팅 되는 것. 
- 윈도우라는 개념이 등장했기 때문에, 윈도우를 어떻게 셋팅하느냐에 따라 지지도와 신뢰도가 달라질 수 있다.

![2_65.png](../materials/2_67.png)

- 시퀀스 분석의 경우에는 `A->B`와 `B->A`가 서로 다른 지지도를 갖게 된다. 
- 단 신뢰도에 대한 apriori원리는 똑같이 성립한다. 
- 그리고, 시퀀스를 고려한 연관규칙탐색은 모듈도 없기 때문에 직접 찾아야 한다.

![2_65.png](../materials/2_68.png)

![2_65.png](../materials/2_69.png)

![2_65.png](../materials/2_69.png)

#### 1. 각 아이템에 대한 지지도를 계산한다. 보통은 비율로 계산하지만, 그냥 전체 등장횟수로만 써 놓기도 한다.

![2_65.png](../materials/2_70.png)

#### 2. 다음 순번에 나올 수 있는 모든 경우의수 고려해서 다시 카운팅. 
- 1, 4, 4 이렇게 써있는 부분은 당연히 {A->A}, {A->B}, {A->C}의 횟수이다. 
- 최소 지지도를 2로 셋팅해놨기 때문에, 2 미만인 애들은 싹다 x표 치면 된다. 
- C의 경우에는 다 지워져서 더 이상 탐색할 필요가 없다. 어차피 뒤로 더 뻗어 나가도 빈도가 더 높아질 방법이 없다.

L은 카운팅이랑만 관련된다. 나는 순서대로 그려나가기만 하면서, 끊기는 부분만 찾으면 된다.

![2_65.png](../materials/2_71.png)

- 현재 L=2까지 고려하고 있는 것을 잊으면 안된다. 
- 다시 한번 경우의수로 펼친다. 
- 최대 빈발 아이템 집합에 들어가려면, 해당 친구들이 싹다 끊겨야 하는 것.

### 최소 지지도는 계속 2인 상황인데, 오타인 것 같다.

![2_65.png](../materials/2_72.png)

C도 들어가 있긴 하지만, 크기 하나짜리 시퀀스는 크게 의미 없는 경우가 많으므로, 삭제하는게 일반적이다.

![2_65.png](../materials/2_73.png)

- A-B-A같이 길이 긴거 볼때는, 긴것 부터 보면 된다. 
- 신뢰도에 대한 priori 규칙이 적용되므로, A,B에서 이미 최소 신뢰도 이하이면, 그 작은 집합은 볼 필요가 없다.

![2_65.png](../materials/2_74.png)

### Practice 1

In [4]:
import os
import pandas as pd

os.chdir(r"/Users/sanghyuk/Documents/preprocessing_python/lecture_source/2. 탐색적 데이터 분석/데이터")


import pandas as pd
df = pd.read_csv("페이지내_사용자_이동.csv", engine = "python", encoding='CP949')

In [5]:
df.head()

   고객ID 방문 페이지  순서
0     0   페이지C   1
1     0   페이지E   2
2     0   페이지B   3
3     0   페이지F   4
4     0   페이지C   5

In [6]:
# 주문별 카트에 추가한 순서를 고려하기 위해, 정렬이 필요
df.sort_values(by = ['고객ID', '순서'], inplace = True)

In [7]:
df

     고객ID 방문 페이지  순서
0       0   페이지C   1
1       0   페이지E   2
2       0   페이지B   3
3       0   페이지F   4
4       0   페이지C   5
..    ...    ...  ..
727    99   페이지B   5
728    99   페이지A   6
729    99   페이지I   7
730    99   페이지G   8
731    99   페이지C   9

[732 rows x 3 columns]

In [8]:
page_set = df['방문 페이지'].unique()
page_set[:10]

array(['페이지C', '페이지E', '페이지B', '페이지F', '페이지D', '페이지J', '메인', '페이지G',
       '페이지A', '페이지I'], dtype=object)

In [9]:
page_sequence_per_order = df.groupby('고객ID')['방문 페이지'].apply(np.array)
page_sequence_per_order

고객ID
0     [페이지C, 페이지E, 페이지B, 페이지F, 페이지C, 페이지D, 페이지J, 메인,...
1     [페이지B, 메인, 메인, 페이지A, 페이지F, 페이지C, 페이지I, 페이지E, 페...
2     [페이지F, 페이지J, 페이지D, 페이지G, 페이지C, 메인, 페이지I, 페이지J,...
3     [페이지I, 페이지I, 페이지J, 페이지J, 페이지C, 페이지A, 페이지H, 페이지...
4     [페이지J, 페이지H, 페이지G, 페이지G, 페이지E, 페이지C, 페이지A, 페이지...
                            ...
95    [페이지D, 페이지H, 페이지I, 메인, 페이지B, 페이지E, 페이지F, 페이지G,...
96    [페이지E, 페이지I, 페이지E, 페이지G, 페이지A, 페이지E, 페이지D, 페이지...
97    [페이지B, 페이지B, 메인, 메인, 페이지B, 페이지F, 페이지J, 페이지D, 페...
98                               [메인, 페이지D, 페이지F, 페이지G]
99    [페이지E, 페이지H, 페이지B, 페이지D, 페이지B, 페이지A, 페이지I, 페이지...
Name: 방문 페이지, Length: 100, dtype: object

In [10]:
page_sequence_per_order[0]=="페이지C"

array([ True, False, False, False,  True, False, False, False, False,
       False, False])

In [11]:
np.where(page_sequence_per_order[0]=="페이지C")[0]

array([0, 4])

In [12]:
# 가능한 모든 조합 출력해 주는 product
from itertools import product

# 특정 레코드에 특정 패턴이 발생했는지를 말해주는 함수
def contain_pattern(record, pattern, L):
    
    output = False    
    #pattern과 record 각각에 속하는 아이템들이 있는데, 그 교집합이 pattern과 같지 않다는 것은, 
    # 애초에 패턴의 요소들 중, 속하지 않는 아이템이 있는 것. 
    if set(record) & set(pattern) != set(pattern): # pattern에 포함된 모든 아이템 집합이 record에 포함된 아이템 집합에 속하지 않으면
        return False    
    else:
        # 패턴에 속한 개별 아이템에 대한 위치를 미리 구하기
        # lsit comprehension : 패턴에 있는 아이템들을 돌면서, 레코드에 해당 아이템이 어느 위치에 있는지를 본다. 
        pattern_index_list = [np.where(record == item)[0] for item in pattern]
        
        ## 가능한 모든 조합에서 위치 간 거리가 L이하면 True를 반환
        # record = [A, B, C, A, C, C], pattern = [A, B], L = 1

        # A의 위치: [0, 3], B의 위치: [1] => pattern index list 
        # 가능한 모든 조합: [0, 1], [3, 1]
        # 가능한 모든 조합의 거리 차이: [1 - 0, 1 - 3] 중에 0번째 요소는 만족하므로 True
        
        for pattern_index in product(*pattern_index_list):
            distance = np.array(pattern_index)[1:] - np.array(pattern_index)[:-1]
            if sum((distance <= L) & (distance > 0)) == (len(pattern_index) - 1):
                output = True
                break
        
        return output

In [13]:
contain_pattern(page_sequence_per_order[0], ["페이지B", "페이지F", "페이지C"], 5)

True

In [14]:
sum((np.array([1, 1]) < 5) & (np.array([1, 1]) < 5))

2

In [15]:
print(np.array([1, 2, 19])[0])
print(np.array([1, 2, 19])[-1])

1
19

In [16]:
len([1, 2, 19])-1

2

In [17]:
from itertools import product

for i in product([1, 2], [3, 4], [7, 8]):
    print(i)

(1, 3, 7)
(1, 3, 8)
(1, 4, 7)
(1, 4, 8)
(2, 3, 7)
(2, 3, 8)
(2, 4, 7)
(2, 4, 8)

In [18]:
def find_maximum_frequent_sequence_item(item_set, sequence_data, min_support = 0.01, L = 1):
    queue = []
    maximum_frequent_sequence_item = []
    
    # 유니크한 아이템 집합에 대해, min_support가 넘는 아이템들만 queue에 추가시킴
    for item in item_set:
        occurence = sequence_data.apply(contain_pattern, pattern = [item], L = L).sum()
        if occurence / len(sequence_data) >= min_support:
            queue.append([item])

    while queue:
        current_pattern = queue.pop() # 맨 마지막 값 빼기
        check_maximum_frequent = True # 모든 자식 집합이 min_support를 넘기지 않으면 True를 유지
        for item in item_set:
            occurence = sequence_data.apply(contain_pattern, pattern = current_pattern + [item], L = L).sum()
            if occurence / len(sequence_data) >= min_support: # min_support를 넘는 패턴을 queue에 추가
                check_maximum_frequent = False 
                queue.append(current_pattern + [item])
        
        if check_maximum_frequent and len(current_pattern) > 1:
            maximum_frequent_sequence_item.append(current_pattern)        
    
    return maximum_frequent_sequence_item

In [19]:
def generate_association_rules(maximum_frequent_sequence_item, sequence_data, min_support = 0.01, min_confidence = 0.5, L = 1):
    # 결과 초기화
    result = {"부모":[], "자식":[], "지지도":[], "신뢰도":[]}
        
    for sequence_item in maximum_frequent_sequence_item:
        # A -> B에서 A, B를 모두 포함하는 가짓 수 co_occurence 계산
        co_occurence = sequence_data.apply(contain_pattern, pattern = sequence_item, L = L).sum()
        support = co_occurence / len(sequence_data)
        if co_occurence > min_support:
            for i in range(len(sequence_item)-1, 0, -1): # 한 아이템 집합에 대해, 부모의 크기를 1씩 줄여나가는 방식으로 부모와 자식 설정
                antecedent = sequence_item[:i]
                consequent = sequence_item[i:]
                antecedent_occurence = sequence_data.apply(contain_pattern, pattern = antecedent, L = L).sum()
                
                confidence = co_occurence / antecedent_occurence
                if confidence > min_confidence:
                    result['부모'].append(antecedent)
                    result['자식'].append(consequent)
                    result['지지도'].append(support)
                    result['신뢰도'].append(confidence)
            
    return pd.DataFrame(result)

In [20]:
maximum_frequent_sequence_item = find_maximum_frequent_sequence_item(page_set, page_sequence_per_order, min_support = 0.02, L = 1)

In [21]:
result = generate_association_rules(maximum_frequent_sequence_item, page_sequence_per_order, min_support = 0.01, min_confidence = 0, L = 1)
result.sort_values(by = ['지지도', '신뢰도'], ascending = False)

         부모                자식   지지도       신뢰도
160  [페이지B]            [페이지J]  0.07  0.155556
59   [페이지A]            [페이지C]  0.07  0.148936
109  [페이지J]            [페이지D]  0.07  0.142857
115  [페이지J]            [페이지C]  0.07  0.142857
75     [메인]            [페이지H]  0.06  0.150000
..      ...               ...   ...       ...
205  [페이지C]  [메인, 페이지A, 페이지J]  0.02  0.037037
207  [페이지C]        [메인, 페이지E]  0.02  0.037037
209  [페이지C]      [페이지J, 페이지I]  0.02  0.037037
214  [페이지C]        [페이지E, 메인]  0.02  0.037037
215  [페이지C]            [페이지C]  0.02  0.037037

[216 rows x 4 columns]

### Practice 2

![2_75.png](../materials/2_75.png)

![2_75.png](../materials/2_76.png)

![2_75.png](../materials/2_77.png)

![2_75.png](../materials/2_78.png)

![2_75.png](../materials/2_79.png)

![2_75.png](../materials/2_80.png)

In [29]:
import os
import pandas as pd

os.chdir(r"/Users/sanghyuk/Documents/preprocessing_python/lecture_source/2. 탐색적 데이터 분석/데이터")


import pandas as pd
import numpy as np
df = pd.read_excel("2018-20_코스피지수.xlsx", parse_dates = True)

In [30]:
df.head()

          날짜       종가
0 2020-07-17  2201.19
1 2020-07-16  2183.76
2 2020-07-15  2201.88
3 2020-07-14  2183.61
4 2020-07-13  2186.06

In [31]:
# 순서를 고려하기 위해, 정렬이 필요
df.sort_values(by = ['날짜'], inplace = True)

#### SAX 적용

In [32]:
def segmentation(x, w, a): # x: time series sample, w: window size, a: alphabet size
    window_mean = x[:w*int(len(x)/w)].reshape(w, -1).mean(axis = 1)
    if len(x) % w != 0:    
        window_mean = np.hstack([window_mean, x[w*int(len(x)/w):].mean()]) # 남겨진 부분은 그 부분만 평균해서 window_mean에 추가
    
    return window_mean

In [33]:
def find_break_points(wmv, a): # wmv:  window mean vector
    break_points = [np.quantile(wmv, (i+1)/a) for i in range(a)]
    return break_points

In [34]:
def conversion_window(wv, break_points): # wv: window mean vector 
    alphabet_sequence = []
    for e in wv:
        alphabet = 65
        for bp in break_points:
            if e < bp:
                alphabet_sequence.append(chr(alphabet))
                break
            else:
                alphabet += 1   
                
    return alphabet_sequence

In [35]:
KOSPI = df['종가'].values
window_mean_vector = segmentation(x = KOSPI, w = 100, a = 5)

In [41]:
window_mean_vector

array([2282.725     , 2284.32      , 2291.51      , 2293.9475    ,
       2273.465     , 2251.4475    , 2287.11      , 2310.595     ,
       2300.5325    , 2284.09      , 2304.1175    , 2331.6275    ,
       2316.5025    , 2219.9075    , 2154.9       , 2143.095     ,
       2046.02      , 2041.21      , 2084.465     , 2076.4525    ,
       2090.9       , 2071.75      , 2104.65      , 2104.07      ,
       2066.2725    , 2074.5325    , 2063.865     , 2026.8725    ,
       2016.58      , 2067.02      , 2108.655     , 2128.7975    ,
       2186.1475    , 2197.195     , 2199.6325    , 2210.5925    ,
       2229.58      , 2200.03      , 2154.2325    , 2159.345     ,
       2179.7725    , 2156.5575    , 2153.5575    , 2207.5025    ,
       2223.96      , 2237.7925    , 2213.585     , 2197.4575    ,
       2188.5175    , 2092.725     , 2067.995     , 2057.7525    ,
       2038.79      , 2061.4175    , 2098.095     , 2097.        ,
       2127.005     , 2127.1075    , 2114.1275    , 2071.3925    ,
       2085.3975    , 2081.7925    , 2081.1225    , 2027.5125    ,
       1943.08      , 1931.62      , 1941.4225    , 1945.0675    ,
       1941.7225    , 1982.04      , 2027.49      , 2068.9075    ,
       2089.4125    , 2064.98      , 2030.145     , 2052.0825    ,
       2071.575     , 2085.7575    , 2087.51      , 2129.3075    ,
       2136.6325    , 2146.1375    , 2119.28      , 2122.825     ,
       2083.21      , 2082.31      , 2145.3425    , 2197.795     ,
       2198.9825    , 2176.0925    , 2179.9225    , 2236.7925    ,
       2255.0375    , 2189.0325    , 2140.355     , 2216.02      ,
       2239.275     , 2194.39      , 2078.5775    , 2015.75      ,
       1964.58021505])

In [42]:
bps = find_break_points(window_mean_vector, 5)
bps

[2064.98, 2090.9, 2154.2325, 2216.0199999999995, 2331.6275]

In [43]:
alphabet_sequence = conversion_window(window_mean_vector, bps)
alphabet_sequence

['E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'D',
 'C',
 'A',
 'A',
 'B',
 'B',
 'C',
 'B',
 'C',
 'C',
 'B',
 'B',
 'A',
 'A',
 'A',
 'B',
 'C',
 'C',
 'D',
 'D',
 'D',
 'D',
 'E',
 'D',
 'D',
 'D',
 'D',
 'D',
 'C',
 'D',
 'E',
 'E',
 'D',
 'D',
 'D',
 'C',
 'B',
 'A',
 'A',
 'A',
 'C',
 'C',
 'C',
 'C',
 'C',
 'B',
 'B',
 'B',
 'B',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'B',
 'B',
 'B',
 'A',
 'A',
 'B',
 'B',
 'B',
 'C',
 'C',
 'C',
 'C',
 'C',
 'B',
 'B',
 'C',
 'D',
 'D',
 'D',
 'D',
 'E',
 'E',
 'D',
 'C',
 'E',
 'E',
 'D',
 'B',
 'A',
 'A']

#### 패턴 찾기

In [44]:
# 문자열로 변환 (하나의 리스트만 대상으로 하기에, 이렇게 하는 것이 더 수월. 단, L = 1으로만 한정)
alphabet_sequence = '-'.join(alphabet_sequence)
alphabet_sequence

'E-E-E-E-E-E-E-E-E-E-E-E-E-D-C-A-A-B-B-C-B-C-C-B-B-A-A-A-B-C-C-D-D-D-D-E-D-D-D-D-D-C-D-E-E-D-D-D-C-B-A-A-A-C-C-C-C-C-B-B-B-B-A-A-A-A-A-A-A-A-B-B-B-A-A-B-B-B-C-C-C-C-C-B-B-C-D-D-D-D-E-E-D-C-E-E-D-B-A-A'

In [45]:
def find_maximum_frequent_sequence_item(item_set, sequence_data, min_support = 0.01, L = 1):
    queue = []
    maximum_frequent_sequence_item = []
    
    # 유니크한 아이템 집합에 대해, min_support가 넘는 아이템들만 queue에 추가시킴
    for item in item_set:
        # 문자열이므로 단순히 count method로 구현 가능
        occurence = sequence_data.count(item)
        if occurence / (sequence_data.count('-') + 1) >= min_support:
            queue.append(item)

    while queue:
        current_pattern = queue.pop() # 맨 마지막 값 빼기
        check_maximum_frequent = True # 모든 자식 집합이 min_support를 넘기지 않으면 True를 유지
        for item in item_set:
            occurence = sequence_data.count(current_pattern + '-' + item)
            if occurence / (sequence_data.count('-') + 1) >= min_support: # min_support를 넘는 패턴을 queue에 추가
                check_maximum_frequent = False 
                queue.append(current_pattern + '-' + item)
        
        if check_maximum_frequent:
            maximum_frequent_sequence_item.append(current_pattern)        
    
    return maximum_frequent_sequence_item

In [46]:
def generate_association_rules(maximum_frequent_sequence_item, sequence_data, min_support = 0.01, min_confidence = 0.5, L = 1):
    # 결과 초기화
    result = {"부모":[], "자식":[], "지지도":[], "신뢰도":[]}
        
    for sequence_item in maximum_frequent_sequence_item:
        # A -> B에서 A, B를 모두 포함하는 가짓 수 co_occurence 계산        
        co_occurence = sequence_data.count(sequence_item)
        support = co_occurence / (sequence_data.count('-') + 1)
        if co_occurence > min_support:
            for i in range(sequence_item.count('-') -1, 0, -1): # 한 아이템 집합에 대해, 부모의 크기를 1씩 줄여나가는 방식으로 부모와 자식 설정
                antecedent = '-'.join(sequence_item.split('-')[:i])
                consequent = '-'.join(sequence_item.split('-')[i:])
                antecedent_occurence = sequence_data.count(antecedent)
               
                confidence = co_occurence / antecedent_occurence
                if confidence > min_confidence:
                    result['부모'].append(antecedent)
                    result['자식'].append(consequent)
                    result['지지도'].append(support)
                    result['신뢰도'].append(confidence)
            
    return pd.DataFrame(result)

In [47]:
maximum_frequent_sequence_item = find_maximum_frequent_sequence_item([chr(65 + i) for i in range(5)], alphabet_sequence, min_support = 0.02, L = 1)

In [48]:
result = generate_association_rules(maximum_frequent_sequence_item, alphabet_sequence, min_support = 0.02, min_confidence = 0.1, L = 1)
result = result.sort_values(by = ['지지도', '신뢰도'], ascending = False)
result

           부모         자식   지지도       신뢰도
31        B-A        A-A  0.03  0.600000
22        C-C        B-B  0.03  0.500000
23          C      C-B-B  0.03  0.150000
24          C        B-B  0.03  0.150000
25          B        C-C  0.03  0.150000
26          B        B-C  0.03  0.150000
32          B      A-A-A  0.03  0.150000
10    C-D-D-D        D-E  0.02  1.000000
11      C-D-D      D-D-E  0.02  1.000000
13  C-C-C-C-C        B-B  0.02  1.000000
14    C-C-C-C      C-B-B  0.02  1.000000
15      C-C-C    C-C-B-B  0.02  1.000000
17    C-C-C-C        B-B  0.02  1.000000
18      C-C-C      C-B-B  0.02  1.000000
20      C-C-C        B-B  0.02  1.000000
0     E-E-E-E        E-E  0.02  0.666667
5         D-E        E-D  0.02  0.666667
12        C-D    D-D-D-E  0.02  0.666667
27      B-B-B        A-A  0.02  0.666667
29      B-B-A        A-A  0.02  0.666667
1       E-E-E      E-E-E  0.02  0.500000
7       D-D-D        D-E  0.02  0.500000
33        A-B        B-B  0.02  0.500000
34      A-A-B        B-B  0.02  0.500000
4         E-D        D-D  0.02  0.400000
16        C-C  C-C-C-B-B  0.02  0.333333
19        C-C    C-C-B-B  0.02  0.333333
21        C-C      C-B-B  0.02  0.333333
6         D-D        D-E  0.02  0.285714
8         D-D      D-D-E  0.02  0.285714
9         D-D        D-C  0.02  0.285714
28        B-B      B-A-A  0.02  0.285714
30        B-B      A-A-A  0.02  0.285714
2         E-E    E-E-E-E  0.02  0.222222
3         E-E        D-C  0.02  0.222222
35        A-A      B-B-B  0.02  0.222222
36        A-A        A-B  0.02  0.222222
37        A-A        A-A  0.02  0.222222