In [9]:
import os
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
os.chdir(r"/Users/sanghyuk/Documents/preprocessing_python/lecture_source/6.-실전-머신러닝-프로젝트/6. 실전 머신러닝 프로젝트/26. Bosch Production Line Performance/데이터")

## 수치형 데이터 정제

#### 데이터 불러오기 및 기본 설정

In [10]:
df = pd.read_csv("sampled_train_numeric.csv")

In [11]:
df.head()

,Id,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,...,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,Response
0,4,0.030,-0.034,-0.197,-0.179,0.118,0.116,-0.015,-0.032,0.020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,7,0.088,0.086,0.003,-0.052,0.161,0.025,-0.015,-0.072,-0.225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,9,-0.036,-0.064,0.294,0.330,0.074,0.161,0.022,0.128,-0.026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,11,-0.055,-0.086,0.294,0.330,0.118,0.025,0.030,0.168,-0.169,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [12]:
df.set_index('Id', inplace = True)

In [13]:
df.head()

,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,L0_S0_F18,...,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,Response
Id,,,,,,,,,,,,,,,,,,,,,
4,0.030,-0.034,-0.197,-0.179,0.118,0.116,-0.015,-0.032,0.020,0.083,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
7,0.088,0.086,0.003,-0.052,0.161,0.025,-0.015,-0.072,-0.225,-0.147,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
9,-0.036,-0.064,0.294,0.330,0.074,0.161,0.022,0.128,-0.026,-0.046,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
11,-0.055,-0.086,0.294,0.330,0.118,0.025,0.030,0.168,-0.169,-0.099,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [14]:
X = df.drop('Response', axis = 1)
Y = df['Response']

#### 라인별 스테이션과 특징 확인

In [19]:
X.columns[:]

Index(['L0_S0_F0', 'L0_S0_F2', 'L0_S0_F4', 'L0_S0_F6', 'L0_S0_F8', 'L0_S0_F10',
       'L0_S0_F12', 'L0_S0_F14', 'L0_S0_F16', 'L0_S0_F18',
       ...
       'L3_S50_F4243', 'L3_S50_F4245', 'L3_S50_F4247', 'L3_S50_F4249',
       'L3_S50_F4251', 'L3_S50_F4253', 'L3_S51_F4256', 'L3_S51_F4258',
       'L3_S51_F4260', 'L3_S51_F4262'],
      dtype='object', length=968)

In [20]:
# 라인별 스테이션과 특징 확인 
line_station_feature_dict = dict()
line_station_feature_dict['L0'] = {"station":[], "feature":[]}
line_station_feature_dict['L1'] = {"station":[], "feature":[]}
line_station_feature_dict['L2'] = {"station":[], "feature":[]}
line_station_feature_dict['L3'] = {"station":[], "feature":[]}

for col in X.columns[:-1]:
    line, station, feature = col.split('_')
    if station not in line_station_feature_dict[line]["station"]:
        line_station_feature_dict[line]["station"].append(station)
    
    if feature not in line_station_feature_dict[line]["feature"]:
        line_station_feature_dict[line]["feature"].append(feature)

In [22]:
# 라인별 스테이션 확인 (라인별 스테이션이 겹치는 것이 전부 없음을 확인)
# L0: S0 ~ S23
# L1: S24 ~ S25
# L2: S26 ~ S28
# L3: S29 ~ S51
for line in ['L0', 'L1', 'L2', 'L3']:
    print(line_station_feature_dict[line]["station"])

['S0', 'S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13', 'S14', 'S15', 'S16', 'S17', 'S18', 'S19', 'S20', 'S21', 'S22', 'S23']
['S24', 'S25']
['S26', 'S27', 'S28']
['S29', 'S30', 'S31', 'S32', 'S33', 'S34', 'S35', 'S36', 'S37', 'S38', 'S39', 'S40', 'S41', 'S43', 'S44', 'S45', 'S47', 'S48', 'S49', 'S50', 'S51']

In [23]:
# 라인별 특징 확인
# L0: F2 ~ F671
# L1: F679 ~ F3034
# L2: F3036 ~ F3311
# L3: F3315 ~ F4262
for line in ['L0', 'L1', 'L2', 'L3']:
    print(line_station_feature_dict[line]["feature"])

['F0', 'F2', 'F4', 'F6', 'F8', 'F10', 'F12', 'F14', 'F16', 'F18', 'F20', 'F22', 'F24', 'F28', 'F32', 'F36', 'F40', 'F44', 'F48', 'F52', 'F56', 'F60', 'F64', 'F68', 'F72', 'F76', 'F80', 'F84', 'F88', 'F92', 'F96', 'F100', 'F104', 'F109', 'F114', 'F116', 'F118', 'F122', 'F132', 'F136', 'F138', 'F142', 'F144', 'F146', 'F149', 'F155', 'F160', 'F165', 'F170', 'F175', 'F180', 'F185', 'F190', 'F195', 'F200', 'F205', 'F210', 'F219', 'F224', 'F229', 'F234', 'F239', 'F244', 'F249', 'F254', 'F259', 'F264', 'F269', 'F274', 'F282', 'F286', 'F290', 'F294', 'F298', 'F302', 'F306', 'F310', 'F314', 'F318', 'F322', 'F326', 'F330', 'F332', 'F334', 'F336', 'F338', 'F340', 'F342', 'F344', 'F346', 'F348', 'F350', 'F352', 'F354', 'F356', 'F358', 'F362', 'F366', 'F370', 'F374', 'F378', 'F382', 'F386', 'F390', 'F394', 'F397', 'F400', 'F403', 'F406', 'F409', 'F412', 'F415', 'F418', 'F421', 'F426', 'F431', 'F433', 'F435', 'F439', 'F449', 'F453', 'F455', 'F459', 'F461', 'F463', 'F466', 'F472', 'F477', 'F482', 'F487', 'F492', 'F497', 'F502', 'F507', 'F512', 'F517', 'F522', 'F527', 'F532', 'F537', 'F546', 'F551', 'F556', 'F561', 'F566', 'F571', 'F576', 'F581', 'F586', 'F591', 'F596', 'F601', 'F606', 'F611', 'F619', 'F623', 'F627', 'F631', 'F635', 'F639', 'F643', 'F647', 'F651', 'F655', 'F659', 'F663', 'F667', 'F671']
['F679', 'F683', 'F687', 'F691', 'F700', 'F719', 'F728', 'F733', 'F746', 'F751', 'F756', 'F761', 'F766', 'F775', 'F780', 'F785', 'F790', 'F795', 'F800', 'F802', 'F806', 'F808', 'F810', 'F812', 'F814', 'F816', 'F829', 'F834', 'F839', 'F844', 'F857', 'F862', 'F867', 'F872', 'F877', 'F882', 'F887', 'F892', 'F897', 'F902', 'F907', 'F920', 'F925', 'F930', 'F935', 'F948', 'F953', 'F958', 'F963', 'F968', 'F973', 'F978', 'F983', 'F988', 'F993', 'F998', 'F1000', 'F1002', 'F1004', 'F1006', 'F1008', 'F1010', 'F1012', 'F1014', 'F1016', 'F1021', 'F1026', 'F1031', 'F1036', 'F1041', 'F1046', 'F1051', 'F1056', 'F1068', 'F1072', 'F1079', 'F1083', 'F1087', 'F1094', 'F1098', 'F1102', 'F1106', 'F1110', 'F1118', 'F1122', 'F1126', 'F1130', 'F1134', 'F1145', 'F1148', 'F1161', 'F1166', 'F1170', 'F1172', 'F1174', 'F1176', 'F1180', 'F1184', 'F1197', 'F1202', 'F1207', 'F1212', 'F1225', 'F1230', 'F1235', 'F1240', 'F1245', 'F1250', 'F1255', 'F1260', 'F1265', 'F1270', 'F1275', 'F1288', 'F1293', 'F1298', 'F1303', 'F1316', 'F1321', 'F1326', 'F1331', 'F1336', 'F1341', 'F1346', 'F1351', 'F1356', 'F1361', 'F1366', 'F1371', 'F1376', 'F1381', 'F1386', 'F1391', 'F1396', 'F1401', 'F1406', 'F1411', 'F1416', 'F1421', 'F1426', 'F1431', 'F1436', 'F1441', 'F1446', 'F1451', 'F1463', 'F1467', 'F1474', 'F1478', 'F1482', 'F1486', 'F1490', 'F1494', 'F1498', 'F1502', 'F1506', 'F1512', 'F1514', 'F1516', 'F1518', 'F1520', 'F1539', 'F1544', 'F1565', 'F1567', 'F1569', 'F1571', 'F1573', 'F1575', 'F1578', 'F1581', 'F1594', 'F1599', 'F1604', 'F1609', 'F1622', 'F1627', 'F1632', 'F1637', 'F1642', 'F1647', 'F1652', 'F1657', 'F1662', 'F1667', 'F1672', 'F1685', 'F1690', 'F1695', 'F1700', 'F1713', 'F1718', 'F1723', 'F1728', 'F1733', 'F1738', 'F1743', 'F1748', 'F1753', 'F1758', 'F1763', 'F1768', 'F1773', 'F1778', 'F1783', 'F1788', 'F1793', 'F1798', 'F1803', 'F1808', 'F1810', 'F1812', 'F1814', 'F1816', 'F1818', 'F1820', 'F1822', 'F1824', 'F1829', 'F1831', 'F1834', 'F1836', 'F1838', 'F1840', 'F1842', 'F1844', 'F1846', 'F1848', 'F1850', 'F1855', 'F1858', 'F1865', 'F1869', 'F1873', 'F1877', 'F1881', 'F1885', 'F1890', 'F1892', 'F1894', 'F1896', 'F1900', 'F1909', 'F1914', 'F1919', 'F1924', 'F1929', 'F1938', 'F1943', 'F1948', 'F1953', 'F1958', 'F1963', 'F1968', 'F1973', 'F1978', 'F1987', 'F1992', 'F1997', 'F2002', 'F2007', 'F2016', 'F2021', 'F2026', 'F2031', 'F2036', 'F2041', 'F2046', 'F2051', 'F2056', 'F2061', 'F2066', 'F2071', 'F2076', 'F2081', 'F2086', 'F2091', 'F2096', 'F2101', 'F2106', 'F2111', 'F2116', 'F2121', 'F2126', 'F2131', 'F2136', 'F2144', 'F2147', 'F2152', 'F2155', 'F2158', 'F2161', 'F2164', 'F2167', 'F2170', 'F2173', 'F2176', 'F2181', 'F2184', 'F2187', 'F2190', 'F2193', 'F2196', 'F2199', 'F2202', 'F2207', 'F2210', 'F2217', 'F2220', 'F2223', 'F2226', 'F2231', 'F2233', 'F2237', 'F2239', 'F2241', 'F2243', 'F2245', 'F2247', 'F2249', 'F2258', 'F2263', 'F2268', 'F2273', 'F2278', 'F2287', 'F2292', 'F2297', 'F2302', 'F2307', 'F2312', 'F2317', 'F2322', 'F2327', 'F2336', 'F2341', 'F2346', 'F2351', 'F2356', 'F2365', 'F2370', 'F2375', 'F2380', 'F2385', 'F2390', 'F2395', 'F2400', 'F2405', 'F2408', 'F2411', 'F2414', 'F2417', 'F2420', 'F2423', 'F2426', 'F2429', 'F2431', 'F2433', 'F2435', 'F2437', 'F2439', 'F2441', 'F2443', 'F2449', 'F2451', 'F2454', 'F2456', 'F2458', 'F2460', 'F2462', 'F2464', 'F2466', 'F2468', 'F2472', 'F2475', 'F2478', 'F2481', 'F2484', 'F2487', 'F2490', 'F2493', 'F2498', 'F2500', 'F2504', 'F2506', 'F2508', 'F2510', 'F2512', 'F2514', 'F2516', 'F2525', 'F2530', 'F2535', 'F2540', 'F2545', 'F2554', 'F2559', 'F2564', 'F2569', 'F2574', 'F2579', 'F2584', 'F2589', 'F2594', 'F2603', 'F2608', 'F2613', 'F2618', 'F2623', 'F2632', 'F2637', 'F2642', 'F2647', 'F2652', 'F2657', 'F2662', 'F2667', 'F2672', 'F2677', 'F2682', 'F2687', 'F2692', 'F2697', 'F2702', 'F2707', 'F2712', 'F2714', 'F2716', 'F2718', 'F2720', 'F2722', 'F2724', 'F2726', 'F2732', 'F2734', 'F2737', 'F2739', 'F2741', 'F2743', 'F2745', 'F2747', 'F2749', 'F2751', 'F2755', 'F2758', 'F2761', 'F2764', 'F2767', 'F2770', 'F2773', 'F2776', 'F2781', 'F2783', 'F2787', 'F2789', 'F2791', 'F2793', 'F2795', 'F2797', 'F2799', 'F2808', 'F2813', 'F2818', 'F2823', 'F2828', 'F2837', 'F2842', 'F2847', 'F2852', 'F2857', 'F2862', 'F2867', 'F2872', 'F2877', 'F2886', 'F2891', 'F2896', 'F2901', 'F2906', 'F2915', 'F2920', 'F2925', 'F2930', 'F2935', 'F2940', 'F2945', 'F2950', 'F2955', 'F2960', 'F2965', 'F2970', 'F2975', 'F2980', 'F2985', 'F2990', 'F2995', 'F2997', 'F2999', 'F3001', 'F3003', 'F3005', 'F3007', 'F3009', 'F3015', 'F3017', 'F3020', 'F3022', 'F3024', 'F3026', 'F3028', 'F3030', 'F3032', 'F3034']
['F3036', 'F3040', 'F3047', 'F3051', 'F3055', 'F3062', 'F3069', 'F3073', 'F3077', 'F3106', 'F3113', 'F3117', 'F3121', 'F3125', 'F3129', 'F3133', 'F3140', 'F3144', 'F3148', 'F3155', 'F3162', 'F3166', 'F3170', 'F3199', 'F3206', 'F3210', 'F3214', 'F3218', 'F3222', 'F3226', 'F3233', 'F3237', 'F3241', 'F3248', 'F3255', 'F3259', 'F3263', 'F3292', 'F3299', 'F3303', 'F3307', 'F3311']
['F3315', 'F3318', 'F3321', 'F3324', 'F3327', 'F3330', 'F3333', 'F3336', 'F3339', 'F3342', 'F3345', 'F3348', 'F3351', 'F3354', 'F3357', 'F3360', 'F3367', 'F3370', 'F3373', 'F3376', 'F3379', 'F3382', 'F3385', 'F3388', 'F3395', 'F3398', 'F3401', 'F3404', 'F3407', 'F3412', 'F3421', 'F3424', 'F3427', 'F3430', 'F3433', 'F3436', 'F3439', 'F3442', 'F3449', 'F3452', 'F3455', 'F3458', 'F3461', 'F3464', 'F3467', 'F3470', 'F3473', 'F3476', 'F3479', 'F3482', 'F3485', 'F3488', 'F3491', 'F3494', 'F3499', 'F3504', 'F3509', 'F3514', 'F3519', 'F3524', 'F3529', 'F3534', 'F3539', 'F3544', 'F3549', 'F3554', 'F3559', 'F3564', 'F3569', 'F3574', 'F3579', 'F3584', 'F3589', 'F3594', 'F3599', 'F3604', 'F3609', 'F3614', 'F3619', 'F3624', 'F3629', 'F3634', 'F3639', 'F3644', 'F3649', 'F3654', 'F3659', 'F3664', 'F3669', 'F3674', 'F3679', 'F3684', 'F3689', 'F3694', 'F3699', 'F3704', 'F3709', 'F3714', 'F3719', 'F3724', 'F3729', 'F3734', 'F3739', 'F3744', 'F3749', 'F3754', 'F3759', 'F3764', 'F3769', 'F3774', 'F3779', 'F3784', 'F3789', 'F3794', 'F3799', 'F3804', 'F3809', 'F3814', 'F3819', 'F3824', 'F3829', 'F3834', 'F3838', 'F3842', 'F3846', 'F3850', 'F3855', 'F3857', 'F3859', 'F3861', 'F3863', 'F3865', 'F3867', 'F3869', 'F3871', 'F3873', 'F3876', 'F3878', 'F3880', 'F3882', 'F3884', 'F3889', 'F3894', 'F3896', 'F3898', 'F3903', 'F3908', 'F3913', 'F3918', 'F3920', 'F3922', 'F3924', 'F3926', 'F3930', 'F3934', 'F3938', 'F3944', 'F3946', 'F3948', 'F3950', 'F3952', 'F3956', 'F3960', 'F3964', 'F3968', 'F3972', 'F3976', 'F3980', 'F3982', 'F3984', 'F3986', 'F3988', 'F3990', 'F3992', 'F3994', 'F3996', 'F3998', 'F4000', 'F4002', 'F4004', 'F4006', 'F4008', 'F4011', 'F4014', 'F4016', 'F4018', 'F4020', 'F4023', 'F4026', 'F4060', 'F4065', 'F4070', 'F4075', 'F4080', 'F4085', 'F4090', 'F4095', 'F4100', 'F4103', 'F4106', 'F4109', 'F4112', 'F4115', 'F4118', 'F4121', 'F4124', 'F4126', 'F4128', 'F4130', 'F4132', 'F4138', 'F4143', 'F4148', 'F4153', 'F4158', 'F4163', 'F4168', 'F4173', 'F4178', 'F4183', 'F4188', 'F4193', 'F4196', 'F4198', 'F4200', 'F4202', 'F4204', 'F4206', 'F4211', 'F4216', 'F4221', 'F4226', 'F4231', 'F4236', 'F4241', 'F4243', 'F4245', 'F4247', 'F4249', 'F4251', 'F4253', 'F4256', 'F4258', 'F4260']

In [31]:
X.head()

,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,L0_S0_F18,...,L3_S50_F4243,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262
Id,,,,,,,,,,,,,,,,,,,,,
4,0.030,-0.034,-0.197,-0.179,0.118,0.116,-0.015,-0.032,0.020,0.083,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0.088,0.086,0.003,-0.052,0.161,0.025,-0.015,-0.072,-0.225,-0.147,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,-0.036,-0.064,0.294,0.330,0.074,0.161,0.022,0.128,-0.026,-0.046,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,-0.055,-0.086,0.294,0.330,0.118,0.025,0.030,0.168,-0.169,-0.099,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# 첫번째 row를 의미
X.iloc[0].notnull()

L0_S0_F0         True
L0_S0_F2         True
L0_S0_F4         True
L0_S0_F6         True
L0_S0_F8         True
                ...
L3_S50_F4253    False
L3_S51_F4256    False
L3_S51_F4258    False
L3_S51_F4260    False
L3_S51_F4262    False
Name: 4, Length: 968, dtype: bool

In [30]:
X.columns

Index(['L0_S0_F0', 'L0_S0_F2', 'L0_S0_F4', 'L0_S0_F6', 'L0_S0_F8', 'L0_S0_F10',
       'L0_S0_F12', 'L0_S0_F14', 'L0_S0_F16', 'L0_S0_F18',
       ...
       'L3_S50_F4243', 'L3_S50_F4245', 'L3_S50_F4247', 'L3_S50_F4249',
       'L3_S50_F4251', 'L3_S50_F4253', 'L3_S51_F4256', 'L3_S51_F4258',
       'L3_S51_F4260', 'L3_S51_F4262'],
      dtype='object', length=968)

In [32]:
# 제품별 거쳐간 라인 추출: 결측이 아닌 부분의 컬럼 값 가져오기
not_null_columns = X.columns[X.iloc[0].notnull()] # 핵심 코드
not_null_columns

Index(['L0_S0_F0', 'L0_S0_F2', 'L0_S0_F4', 'L0_S0_F6', 'L0_S0_F8', 'L0_S0_F10',
       'L0_S0_F12', 'L0_S0_F14', 'L0_S0_F16', 'L0_S0_F18',
       ...
       'L3_S35_F3894', 'L3_S35_F3896', 'L3_S35_F3898', 'L3_S35_F3903',
       'L3_S35_F3908', 'L3_S35_F3913', 'L3_S37_F3944', 'L3_S37_F3946',
       'L3_S37_F3948', 'L3_S37_F3950'],
      dtype='object', length=162)

In [44]:
pd.Series(not_null_columns).str.split('_', expand = True)[0].unique()

array(['L0', 'L3'], dtype=object)

In [34]:
X.iterrows()

In [47]:
# 데이터의 일부만 확인 수행 
num_iter = 0

for ind, row in X.iterrows():
    if sum(row.notnull()) > 0:    
        not_null_columns = X.columns[row.notnull()]    
        lines = pd.Series(not_null_columns).str.split('_', expand = True).iloc[:, 0].drop_duplicates().tolist()
        stations = pd.Series(not_null_columns).str.split('_', expand = True).iloc[:, 1].drop_duplicates().tolist()
        print(ind, lines, stations)
        if num_iter > 20: # 20개만 확인하기 위함 ==> 제품별로 거쳐간 라인 및 스테이션이 다름을 확인
            break   
    num_iter += 1

4 ['L0', 'L3'] ['S0', 'S1', 'S2', 'S4', 'S7', 'S8', 'S11', 'S29', 'S30', 'S31', 'S33', 'S34', 'S35', 'S37']
6 ['L0', 'L3'] ['S12', 'S13', 'S14', 'S16', 'S18', 'S20', 'S21', 'S29', 'S30', 'S33', 'S34', 'S35', 'S37']
7 ['L0', 'L3'] ['S0', 'S1', 'S2', 'S5', 'S6', 'S8', 'S10', 'S29', 'S30', 'S33', 'S34', 'S35', 'S37']
9 ['L0', 'L3'] ['S0', 'S1', 'S2', 'S4', 'S7', 'S8', 'S10', 'S29', 'S30', 'S33', 'S34', 'S36', 'S37']
11 ['L0', 'L3'] ['S0', 'S1', 'S3', 'S4', 'S7', 'S8', 'S11', 'S29', 'S30', 'S33', 'S34', 'S36', 'S37']
13 ['L0', 'L3'] ['S0', 'S1', 'S3', 'S4', 'S7', 'S8', 'S10', 'S29', 'S30', 'S33', 'S34', 'S36', 'S37']
14 ['L0', 'L3'] ['S12', 'S13', 'S15', 'S17', 'S19', 'S20', 'S22', 'S29', 'S30', 'S33', 'S34', 'S35', 'S37']
16 ['L1', 'L2', 'L3'] ['S24', 'S26', 'S29', 'S30', 'S33', 'S34', 'S35', 'S37']
18 ['L0', 'L3'] ['S0', 'S1', 'S2', 'S4', 'S7', 'S8', 'S10', 'S29', 'S30', 'S33', 'S34', 'S36', 'S37']
23 ['L0', 'L3'] ['S12', 'S13', 'S14', 'S17', 'S18', 'S20', 'S21', 'S29', 'S30', 'S33', 'S34', 'S35', 'S37']
26 ['L0', 'L3'] ['S0', 'S1', 'S2', 'S4', 'S7', 'S8', 'S10', 'S29', 'S30', 'S33', 'S34', 'S36', 'S37']
27 ['L0', 'L3'] ['S0', 'S1', 'S3', 'S5', 'S6', 'S8', 'S9', 'S29', 'S30', 'S33', 'S34', 'S36', 'S37']
28 ['L0', 'L3'] ['S0', 'S1', 'S3', 'S4', 'S7', 'S8', 'S9', 'S29', 'S30', 'S33', 'S34', 'S35', 'S37']
31 ['L0', 'L3'] ['S0', 'S1', 'S2', 'S4', 'S6', 'S8', 'S9', 'S29', 'S30', 'S31', 'S33', 'S34', 'S35', 'S37']
34 ['L0', 'L3'] ['S0', 'S1', 'S2', 'S5', 'S6', 'S8', 'S9', 'S29', 'S30', 'S33', 'S34', 'S36', 'S37']
38 ['L0', 'L3'] ['S0', 'S1', 'S2', 'S4', 'S7', 'S8', 'S9', 'S29', 'S30', 'S33', 'S34', 'S36', 'S37']
41 ['L0', 'L3'] ['S12', 'S13', 'S14', 'S17', 'S19', 'S20', 'S23', 'S29', 'S30', 'S33', 'S34', 'S36', 'S37']
44 ['L0', 'L3'] ['S0', 'S1', 'S2', 'S5', 'S7', 'S8', 'S10', 'S29', 'S30', 'S33', 'S34', 'S35', 'S37']
47 ['L0', 'L3'] ['S12', 'S13', 'S15', 'S16', 'S18', 'S20', 'S23', 'S29', 'S30', 'S33', 'S34', 'S36', 'S37']
49 ['L0', 'L3'] ['S0', 'S1', 'S3', 'S4', 'S6', 'S8', 'S10', 'S29', 'S30', 'S33', 'S34', 'S36', 'S37']
52 ['L1', 'L2', 'L3'] ['S25', 'S26', 'S29', 'S30', 'S33', 'S34', 'S35', 'S37']
55 ['L0', 'L3'] ['S12', 'S13', 'S15', 'S16', 'S19', 'S20', 'S23', 'S29', 'S30', 'S33', 'S34', 'S35', 'S37']

#### 거쳐간 스테이션 특징 추출

In [50]:
# 전체 스테이션 목록 정의
import numpy as np
whole_stations = []
for line in ['L0', 'L1', 'L2', 'L3']:
    whole_stations += line_station_feature_dict[line]["station"]
    
print(whole_stations)

['S0', 'S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13', 'S14', 'S15', 'S16', 'S17', 'S18', 'S19', 'S20', 'S21', 'S22', 'S23', 'S24', 'S25', 'S26', 'S27', 'S28', 'S29', 'S30', 'S31', 'S32', 'S33', 'S34', 'S35', 'S36', 'S37', 'S38', 'S39', 'S40', 'S41', 'S43', 'S44', 'S45', 'S47', 'S48', 'S49', 'S50', 'S51']

In [51]:
np.zeros(len(whole_stations))

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [54]:
# station_X: 제품별 거쳐간 station을 나타내는 데이터
station_X = []
for ind, row in X.iterrows():
    if sum(row.notnull()) == 0:
        station_X.append(np.zeros(len(whole_stations))) # whole stations에 포함된 stations를 추가 
    else:
        not_null_columns = X.columns[row.notnull()]
        stations = pd.Series(not_null_columns).str.split('_', expand = True).iloc[:, 1].drop_duplicates().tolist()

        station_X.append(np.isin(whole_stations, stations)) # whole stations에 포함된 stations를 추가 

station_X = pd.DataFrame(station_X,
             index = X.index,
             columns = whole_stations)

station_X = station_X.astype(int)
station_X

,S0,S1,S2,S3,S4,S5,S6,S7,S8,S9,...,S40,S41,S43,S44,S45,S47,S48,S49,S50,S51
Id,,,,,,,,,,,,,,,,,,,,,
4,1,1,1,0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1,1,1,0,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9,1,1,1,0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
11,1,1,0,1,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19912,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19915,1,1,0,1,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
19917,1,1,1,0,0,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
19921,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19923,1,1,0,1,1,0,1,0,1,0,...,1,1,0,1,1,1,1,1,0,1

#### 측정된 값의 통계량 추출

In [59]:
X.head()

,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,L0_S0_F18,...,L3_S50_F4243,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262
Id,,,,,,,,,,,,,,,,,,,,,
4,0.030,-0.034,-0.197,-0.179,0.118,0.116,-0.015,-0.032,0.020,0.083,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0.088,0.086,0.003,-0.052,0.161,0.025,-0.015,-0.072,-0.225,-0.147,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,-0.036,-0.064,0.294,0.330,0.074,0.161,0.022,0.128,-0.026,-0.046,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,-0.055,-0.086,0.294,0.330,0.118,0.025,0.030,0.168,-0.169,-0.099,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
from scipy import stats

In [56]:
def remove_outliers(val, w = 1.5):
    Q1 = np.quantile(val, 0.25)
    Q3 = np.quantile(val, 0.75)
    IQR = Q3 - Q1    
    cond1 = Q1 - w * IQR < val
    cond2 = Q3 + w * IQR > val
    total_cond = np.logical_and(cond1, cond2)  # cond1 & cond2  
    return val[total_cond]

In [57]:
def extract_statistical_features(val): # val: 하나의 행
    if val.notnull().sum() == 0: # 측정된 값이 하나도 없는 경우에는 전부 0으로 return
        return pd.Series([0] * 6)
    else:
        val = val.copy().dropna() # 결측 제거
        val = remove_outliers(val) # 이상치 제거
        val_mean = val.mean() # 평균
        val_var = val.var() # 분산
        val_max = val.max() # 최대
        val_min = val.min() # 최소
        val_kurtosis = stats.kurtosis(val)
        val_RMS = np.sqrt(sum(val ** 2 / len(val)))

        # Sereis로 return한 이유: 데이터프레임을 원활히 구성하기 위함
        # list로 return하면 index가 Id이고, data가 리스트인 구조로 정의됨
        return pd.Series([val_mean, val_var, val_max, val_min, val_kurtosis, val_RMS])

In [63]:
X.head()

,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,L0_S0_F18,...,L3_S50_F4243,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262
Id,,,,,,,,,,,,,,,,,,,,,
4,0.030,-0.034,-0.197,-0.179,0.118,0.116,-0.015,-0.032,0.020,0.083,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0.088,0.086,0.003,-0.052,0.161,0.025,-0.015,-0.072,-0.225,-0.147,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,-0.036,-0.064,0.294,0.330,0.074,0.161,0.022,0.128,-0.026,-0.046,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,-0.055,-0.086,0.294,0.330,0.118,0.025,0.030,0.168,-0.169,-0.099,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
stat_feature_X

           mean  variance    max    min  kurtosis       RMS
Id
4     -0.013346  0.003363  0.118 -0.164  0.415134  0.059297
6     -0.002573  0.001208  0.096 -0.088  0.632356  0.034741
7      0.001774  0.000579  0.064 -0.060  1.093244  0.024048
9     -0.000248  0.000928  0.079 -0.084  0.837443  0.030357
11    -0.014000  0.003128  0.118 -0.157  0.315412  0.057489
...         ...       ...    ...    ...       ...       ...
19912  0.016471  0.002860  0.144 -0.115  0.126258  0.055807
19915  0.002671  0.002858  0.134 -0.140  0.808986  0.053348
19917 -0.002669  0.001658  0.108 -0.105  1.050556  0.040675
19921 -0.009329  0.001724  0.097 -0.125  0.626172  0.042433
19923 -0.004077  0.000593  0.068 -0.065  1.571667  0.024533

[10000 rows x 6 columns]

In [60]:
stat_feature_X = X.apply(extract_statistical_features, axis = 1)
stat_feature_X.rename({0:"mean", 1: "variance", 2:"max", 3:"min", 4:"kurtosis", 5:"RMS"}, axis = 1, inplace = True)

#### 기존 데이터 삭제 및 정제된 데이터 병합

In [64]:
numeric_X = pd.merge(station_X, stat_feature_X, left_index = True, right_index = True)
del X

In [65]:
numeric_X

,S0,S1,S2,S3,S4,S5,S6,S7,S8,S9,...,S48,S49,S50,S51,mean,variance,max,min,kurtosis,RMS
Id,,,,,,,,,,,,,,,,,,,,,
4,1,1,1,0,1,0,0,1,1,0,...,0,0,0,0,-0.013346,0.003363,0.118,-0.164,0.415134,0.059297
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,-0.002573,0.001208,0.096,-0.088,0.632356,0.034741
7,1,1,1,0,0,1,1,0,1,0,...,0,0,0,0,0.001774,0.000579,0.064,-0.060,1.093244,0.024048
9,1,1,1,0,1,0,0,1,1,0,...,0,0,0,0,-0.000248,0.000928,0.079,-0.084,0.837443,0.030357
11,1,1,0,1,1,0,0,1,1,0,...,0,0,0,0,-0.014000,0.003128,0.118,-0.157,0.315412,0.057489
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19912,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.016471,0.002860,0.144,-0.115,0.126258,0.055807
19915,1,1,0,1,0,1,0,1,1,0,...,0,0,0,0,0.002671,0.002858,0.134,-0.140,0.808986,0.053348
19917,1,1,1,0,0,1,0,1,1,1,...,0,0,0,0,-0.002669,0.001658,0.108,-0.105,1.050556,0.040675
19921,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,-0.009329,0.001724,0.097,-0.125,0.626172,0.042433
19923,1,1,0,1,1,0,1,0,1,0,...,1,1,0,1,-0.004077,0.000593,0.068,-0.065,1.571667,0.024533

### 범주형 데이터 처리

In [71]:
df = pd.read_csv("sampled_train_categorical.csv")
df.set_index('Id', inplace = True)

In [72]:
df.head()

,L0_S1_F25,L0_S1_F27,L0_S1_F29,L0_S1_F31,L0_S2_F33,L0_S2_F35,L0_S2_F37,L0_S2_F39,L0_S2_F41,L0_S2_F43,...,L3_S49_F4225,L3_S49_F4227,L3_S49_F4229,L3_S49_F4230,L3_S49_F4232,L3_S49_F4234,L3_S49_F4235,L3_S49_F4237,L3_S49_F4239,L3_S49_F4240
Id,,,,,,,,,,,,,,,,,,,,,
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
df.iloc[0].dropna().unique() # 0번째 레코드는 전부 결측

array([], dtype=object)

In [69]:
df.iloc[2].dropna().unique() # 2번째 레코드는 전부 T1 code가 발생

array(['T1'], dtype=object)

In [70]:
# S29에서만 발생한 값임을 확인 ==> station 별로 등장한 값들을 확인해보자!
df.iloc[2].dropna().index

Index(['L3_S29_F3317', 'L3_S29_F3320', 'L3_S29_F3323', 'L3_S29_F3326',
       'L3_S29_F3329', 'L3_S29_F3332', 'L3_S29_F3335', 'L3_S29_F3338',
       'L3_S29_F3341', 'L3_S29_F3344', 'L3_S29_F3347', 'L3_S29_F3350',
       'L3_S29_F3353', 'L3_S29_F3356', 'L3_S29_F3359', 'L3_S29_F3362',
       'L3_S29_F3364', 'L3_S29_F3366', 'L3_S29_F3369', 'L3_S29_F3372',
       'L3_S29_F3375', 'L3_S29_F3378', 'L3_S29_F3381', 'L3_S29_F3384',
       'L3_S29_F3387', 'L3_S29_F3390', 'L3_S29_F3392', 'L3_S29_F3394',
       'L3_S29_F3397', 'L3_S29_F3400', 'L3_S29_F3403', 'L3_S29_F3406',
       'L3_S29_F3409', 'L3_S29_F3411', 'L3_S29_F3414', 'L3_S29_F3416',
       'L3_S29_F3418', 'L3_S29_F3420', 'L3_S29_F3423', 'L3_S29_F3426',
       'L3_S29_F3429', 'L3_S29_F3432', 'L3_S29_F3435', 'L3_S29_F3438',
       'L3_S29_F3441', 'L3_S29_F3444', 'L3_S29_F3446', 'L3_S29_F3448',
       'L3_S29_F3451', 'L3_S29_F3454', 'L3_S29_F3457', 'L3_S29_F3460',
       'L3_S29_F3463', 'L3_S29_F3466', 'L3_S29_F3469', 'L3_S29_F3472',
       'L3_S29_F3475', 'L3_S29_F3478', 'L3_S29_F3481', 'L3_S29_F3484',
       'L3_S29_F3487', 'L3_S29_F3490', 'L3_S29_F3493'],
      dtype='object')

In [78]:
df.iloc[50].dropna().unique() # 50번째 레코드는 T1, T145가 발생

array(['T1', 'T145'], dtype=object)

In [26]:
# S26과 S29에서 발생함을 확인
df.iloc[50].dropna().index

Index(['L2_S26_F3038', 'L2_S26_F3042', 'L2_S26_F3045', 'L2_S26_F3049',
       'L2_S26_F3053', 'L2_S26_F3057', 'L2_S26_F3060', 'L2_S26_F3064',
       'L2_S26_F3067', 'L2_S26_F3071', 'L2_S26_F3075', 'L2_S26_F3079',
       'L2_S26_F3082', 'L2_S26_F3085', 'L2_S26_F3088', 'L2_S26_F3091',
       'L2_S26_F3094', 'L2_S26_F3097', 'L2_S26_F3099', 'L2_S26_F3101',
       'L2_S26_F3104', 'L2_S26_F3108', 'L2_S26_F3111', 'L2_S26_F3115',
       'L2_S26_F3119', 'L2_S26_F3123', 'L2_S26_F3127', 'L3_S29_F3317',
       'L3_S29_F3320', 'L3_S29_F3323', 'L3_S29_F3326', 'L3_S29_F3329',
       'L3_S29_F3332', 'L3_S29_F3335', 'L3_S29_F3338', 'L3_S29_F3341',
       'L3_S29_F3344', 'L3_S29_F3347', 'L3_S29_F3350', 'L3_S29_F3353',
       'L3_S29_F3356', 'L3_S29_F3359', 'L3_S29_F3362', 'L3_S29_F3364',
       'L3_S29_F3366', 'L3_S29_F3369', 'L3_S29_F3372', 'L3_S29_F3375',
       'L3_S29_F3378', 'L3_S29_F3381', 'L3_S29_F3384', 'L3_S29_F3387',
       'L3_S29_F3390', 'L3_S29_F3392', 'L3_S29_F3394', 'L3_S29_F3397',
       'L3_S29_F3400', 'L3_S29_F3403', 'L3_S29_F3406', 'L3_S29_F3409',
       'L3_S29_F3411', 'L3_S29_F3414', 'L3_S29_F3416', 'L3_S29_F3418',
       'L3_S29_F3420', 'L3_S29_F3423', 'L3_S29_F3426', 'L3_S29_F3429',
       'L3_S29_F3432', 'L3_S29_F3435', 'L3_S29_F3438', 'L3_S29_F3441',
       'L3_S29_F3444', 'L3_S29_F3446', 'L3_S29_F3448', 'L3_S29_F3451',
       'L3_S29_F3454', 'L3_S29_F3457', 'L3_S29_F3460', 'L3_S29_F3463',
       'L3_S29_F3466', 'L3_S29_F3469', 'L3_S29_F3472', 'L3_S29_F3475',
       'L3_S29_F3478', 'L3_S29_F3481', 'L3_S29_F3484', 'L3_S29_F3487',
       'L3_S29_F3490', 'L3_S29_F3493'],
      dtype='object')

In [79]:
# 등장 가능한 모든 값 확인해보기
codes = []
for ind, row in df.iterrows():
    for val in row.dropna().unique():
        if val not in codes:
            codes.append(val)

In [80]:
codes

['T1',
 'T3',
 'T145',
 'T4',
 'T143',
 'T16',
 'T2',
 'T256',
 'T65536',
 'T5',
 'T128',
 'T16777557',
 'T512',
 'T16777232',
 'T786432',
 'T8',
 'T-2147482816',
 'T1372',
 'T1310',
 'T6',
 'T7',
 'T-2147483648',
 'T48576',
 'T48',
 'T9',
 'T-21474819',
 'T97',
 'T32',
 'T32896']

In [81]:
# 각 station별로 발생했는지 여부의 특징을 만들자!
# station_T꼴의 변수 생성
# 예시: S29_T1: S29에서 T1이 발생했는지 여부

In [82]:
df.head(3)

,L0_S1_F25,L0_S1_F27,L0_S1_F29,L0_S1_F31,L0_S2_F33,L0_S2_F35,L0_S2_F37,L0_S2_F39,L0_S2_F41,L0_S2_F43,...,L3_S49_F4225,L3_S49_F4227,L3_S49_F4229,L3_S49_F4230,L3_S49_F4232,L3_S49_F4234,L3_S49_F4235,L3_S49_F4237,L3_S49_F4239,L3_S49_F4240
Id,,,,,,,,,,,,,,,,,,,,,
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
# categorical value가 발생한 station 추출
code_occur_station = []
for ind, row in df.iterrows():
    for col in row.dropna().index:
        if col.split('_')[1] not in code_occur_station:
            code_occur_station.append(col.split('_')[1])

In [89]:
code_occur_station

['S29',
 'S24',
 'S26',
 'S25',
 'S27',
 'S44',
 'S47',
 'S32',
 'S43',
 'S28',
 'S22',
 'S10',
 'S21',
 'S9',
 'S16',
 'S1',
 'S4',
 'S2']

#### 각 row별 station과 value 추출

In [96]:
df.iloc[50].dropna()

L2_S26_F3038    T1
L2_S26_F3042    T1
L2_S26_F3045    T1
L2_S26_F3049    T1
L2_S26_F3053    T1
                ..
L3_S29_F3481    T1
L3_S29_F3484    T1
L3_S29_F3487    T1
L3_S29_F3490    T1
L3_S29_F3493    T1
Name: 104, Length: 90, dtype: object

In [98]:
# 추출을 위한 데이터 정리 과정
row = df.iloc[50]
row.dropna().reset_index()

           index 104
0   L2_S26_F3038  T1
1   L2_S26_F3042  T1
2   L2_S26_F3045  T1
3   L2_S26_F3049  T1
4   L2_S26_F3053  T1
..           ...  ..
85  L3_S29_F3481  T1
86  L3_S29_F3484  T1
87  L3_S29_F3487  T1
88  L3_S29_F3490  T1
89  L3_S29_F3493  T1

[90 rows x 2 columns]

In [101]:
row.dropna().reset_index().iloc[:, 0].str.contains('S26')

0      True
1      True
2      True
3      True
4      True
      ...
85    False
86    False
87    False
88    False
89    False
Name: index, Length: 90, dtype: bool

In [102]:
row.dropna().reset_index().iloc[:, 1].str.contains('T1')

0     True
1     True
2     True
3     True
4     True
      ...
85    True
86    True
87    True
88    True
89    True
Name: 104, Length: 90, dtype: bool

In [103]:
cond = (row.dropna().reset_index().iloc[:, 0].str.contains('S26')) & (row.dropna().reset_index().iloc[:, 1].str.contains('T1'))
cond # sum(cond) > 0이면, 발생한 것임

0      True
1      True
2      True
3      True
4      True
      ...
85    False
86    False
87    False
88    False
89    False
Length: 90, dtype: bool

In [104]:
# 컬럼 생성
import itertools
code_X_columns = []
for station, code in itertools.product(code_occur_station, codes):
    code_X_columns.append(station + "_" + code)

code_X_columns

['S29_T1',
 'S29_T3',
 'S29_T145',
 'S29_T4',
 'S29_T143',
 'S29_T16',
 'S29_T2',
 'S29_T256',
 'S29_T65536',
 'S29_T5',
 'S29_T128',
 'S29_T16777557',
 'S29_T512',
 'S29_T16777232',
 'S29_T786432',
 'S29_T8',
 'S29_T-2147482816',
 'S29_T1372',
 'S29_T1310',
 'S29_T6',
 'S29_T7',
 'S29_T-2147483648',
 'S29_T48576',
 'S29_T48',
 'S29_T9',
 'S29_T-21474819',
 'S29_T97',
 'S29_T32',
 'S29_T32896',
 'S24_T1',
 'S24_T3',
 'S24_T145',
 'S24_T4',
 'S24_T143',
 'S24_T16',
 'S24_T2',
 'S24_T256',
 'S24_T65536',
 'S24_T5',
 'S24_T128',
 'S24_T16777557',
 'S24_T512',
 'S24_T16777232',
 'S24_T786432',
 'S24_T8',
 'S24_T-2147482816',
 'S24_T1372',
 'S24_T1310',
 'S24_T6',
 'S24_T7',
 'S24_T-2147483648',
 'S24_T48576',
 'S24_T48',
 'S24_T9',
 'S24_T-21474819',
 'S24_T97',
 'S24_T32',
 'S24_T32896',
 'S26_T1',
 'S26_T3',
 'S26_T145',
 'S26_T4',
 'S26_T143',
 'S26_T16',
 'S26_T2',
 'S26_T256',
 'S26_T65536',
 'S26_T5',
 'S26_T128',
 'S26_T16777557',
 'S26_T512',
 'S26_T16777232',
 'S26_T786432',
 'S26_T8',
 'S26_T-2147482816',
 'S26_T1372',
 'S26_T1310',
 'S26_T6',
 'S26_T7',
 'S26_T-2147483648',
 'S26_T48576',
 'S26_T48',
 'S26_T9',
 'S26_T-21474819',
 'S26_T97',
 'S26_T32',
 'S26_T32896',
 'S25_T1',
 'S25_T3',
 'S25_T145',
 'S25_T4',
 'S25_T143',
 'S25_T16',
 'S25_T2',
 'S25_T256',
 'S25_T65536',
 'S25_T5',
 'S25_T128',
 'S25_T16777557',
 'S25_T512',
 'S25_T16777232',
 'S25_T786432',
 'S25_T8',
 'S25_T-2147482816',
 'S25_T1372',
 'S25_T1310',
 'S25_T6',
 'S25_T7',
 'S25_T-2147483648',
 'S25_T48576',
 'S25_T48',
 'S25_T9',
 'S25_T-21474819',
 'S25_T97',
 'S25_T32',
 'S25_T32896',
 'S27_T1',
 'S27_T3',
 'S27_T145',
 'S27_T4',
 'S27_T143',
 'S27_T16',
 'S27_T2',
 'S27_T256',
 'S27_T65536',
 'S27_T5',
 'S27_T128',
 'S27_T16777557',
 'S27_T512',
 'S27_T16777232',
 'S27_T786432',
 'S27_T8',
 'S27_T-2147482816',
 'S27_T1372',
 'S27_T1310',
 'S27_T6',
 'S27_T7',
 'S27_T-2147483648',
 'S27_T48576',
 'S27_T48',
 'S27_T9',
 'S27_T-21474819',
 'S27_T97',
 'S27_T32',
 'S27_T32896',
 'S44_T1',
 'S44_T3',
 'S44_T145',
 'S44_T4',
 'S44_T143',
 'S44_T16',
 'S44_T2',
 'S44_T256',
 'S44_T65536',
 'S44_T5',
 'S44_T128',
 'S44_T16777557',
 'S44_T512',
 'S44_T16777232',
 'S44_T786432',
 'S44_T8',
 'S44_T-2147482816',
 'S44_T1372',
 'S44_T1310',
 'S44_T6',
 'S44_T7',
 'S44_T-2147483648',
 'S44_T48576',
 'S44_T48',
 'S44_T9',
 'S44_T-21474819',
 'S44_T97',
 'S44_T32',
 'S44_T32896',
 'S47_T1',
 'S47_T3',
 'S47_T145',
 'S47_T4',
 'S47_T143',
 'S47_T16',
 'S47_T2',
 'S47_T256',
 'S47_T65536',
 'S47_T5',
 'S47_T128',
 'S47_T16777557',
 'S47_T512',
 'S47_T16777232',
 'S47_T786432',
 'S47_T8',
 'S47_T-2147482816',
 'S47_T1372',
 'S47_T1310',
 'S47_T6',
 'S47_T7',
 'S47_T-2147483648',
 'S47_T48576',
 'S47_T48',
 'S47_T9',
 'S47_T-21474819',
 'S47_T97',
 'S47_T32',
 'S47_T32896',
 'S32_T1',
 'S32_T3',
 'S32_T145',
 'S32_T4',
 'S32_T143',
 'S32_T16',
 'S32_T2',
 'S32_T256',
 'S32_T65536',
 'S32_T5',
 'S32_T128',
 'S32_T16777557',
 'S32_T512',
 'S32_T16777232',
 'S32_T786432',
 'S32_T8',
 'S32_T-2147482816',
 'S32_T1372',
 'S32_T1310',
 'S32_T6',
 'S32_T7',
 'S32_T-2147483648',
 'S32_T48576',
 'S32_T48',
 'S32_T9',
 'S32_T-21474819',
 'S32_T97',
 'S32_T32',
 'S32_T32896',
 'S43_T1',
 'S43_T3',
 'S43_T145',
 'S43_T4',
 'S43_T143',
 'S43_T16',
 'S43_T2',
 'S43_T256',
 'S43_T65536',
 'S43_T5',
 'S43_T128',
 'S43_T16777557',
 'S43_T512',
 'S43_T16777232',
 'S43_T786432',
 'S43_T8',
 'S43_T-2147482816',
 'S43_T1372',
 'S43_T1310',
 'S43_T6',
 'S43_T7',
 'S43_T-2147483648',
 'S43_T48576',
 'S43_T48',
 'S43_T9',
 'S43_T-21474819',
 'S43_T97',
 'S43_T32',
 'S43_T32896',
 'S28_T1',
 'S28_T3',
 'S28_T145',
 'S28_T4',
 'S28_T143',
 'S28_T16',
 'S28_T2',
 'S28_T256',
 'S28_T65536',
 'S28_T5',
 'S28_T128',
 'S28_T16777557',
 'S28_T512',
 'S28_T16777232',
 'S28_T786432',
 'S28_T8',
 'S28_T-2147482816',
 'S28_T1372',
 'S28_T1310',
 'S28_T6',
 'S28_T7',
 'S28_T-2147483648',
 'S28_T48576',
 'S28_T48',
 'S28_T9',
 'S28_T-21474819',
 'S28_T97',
 'S28_T32',
 'S28_T32896',
 'S22_T1',
 'S22_T3',
 'S22_T145',
 'S22_T4',
 'S22_T143',
 'S22_T16',
 'S22_T2',
 'S22_T256',
 'S22_T65536',
 'S22_T5',
 'S22_T128',
 'S22_T16777557',
 'S22_T512',
 'S22_T16777232',
 'S22_T786432',
 'S22_T8',
 'S22_T-2147482816',
 'S22_T1372',
 'S22_T1310',
 'S22_T6',
 'S22_T7',
 'S22_T-2147483648',
 'S22_T48576',
 'S22_T48',
 'S22_T9',
 'S22_T-21474819',
 'S22_T97',
 'S22_T32',
 'S22_T32896',
 'S10_T1',
 'S10_T3',
 'S10_T145',
 'S10_T4',
 'S10_T143',
 'S10_T16',
 'S10_T2',
 'S10_T256',
 'S10_T65536',
 'S10_T5',
 'S10_T128',
 'S10_T16777557',
 'S10_T512',
 'S10_T16777232',
 'S10_T786432',
 'S10_T8',
 'S10_T-2147482816',
 'S10_T1372',
 'S10_T1310',
 'S10_T6',
 'S10_T7',
 'S10_T-2147483648',
 'S10_T48576',
 'S10_T48',
 'S10_T9',
 'S10_T-21474819',
 'S10_T97',
 'S10_T32',
 'S10_T32896',
 'S21_T1',
 'S21_T3',
 'S21_T145',
 'S21_T4',
 'S21_T143',
 'S21_T16',
 'S21_T2',
 'S21_T256',
 'S21_T65536',
 'S21_T5',
 'S21_T128',
 'S21_T16777557',
 'S21_T512',
 'S21_T16777232',
 'S21_T786432',
 'S21_T8',
 'S21_T-2147482816',
 'S21_T1372',
 'S21_T1310',
 'S21_T6',
 'S21_T7',
 'S21_T-2147483648',
 'S21_T48576',
 'S21_T48',
 'S21_T9',
 'S21_T-21474819',
 'S21_T97',
 'S21_T32',
 'S21_T32896',
 'S9_T1',
 'S9_T3',
 'S9_T145',
 'S9_T4',
 'S9_T143',
 'S9_T16',
 'S9_T2',
 'S9_T256',
 'S9_T65536',
 'S9_T5',
 'S9_T128',
 'S9_T16777557',
 'S9_T512',
 'S9_T16777232',
 'S9_T786432',
 'S9_T8',
 'S9_T-2147482816',
 'S9_T1372',
 'S9_T1310',
 'S9_T6',
 'S9_T7',
 'S9_T-2147483648',
 'S9_T48576',
 'S9_T48',
 'S9_T9',
 'S9_T-21474819',
 'S9_T97',
 'S9_T32',
 'S9_T32896',
 'S16_T1',
 'S16_T3',
 'S16_T145',
 'S16_T4',
 'S16_T143',
 'S16_T16',
 'S16_T2',
 'S16_T256',
 'S16_T65536',
 'S16_T5',
 'S16_T128',
 'S16_T16777557',
 'S16_T512',
 'S16_T16777232',
 'S16_T786432',
 'S16_T8',
 'S16_T-2147482816',
 'S16_T1372',
 'S16_T1310',
 'S16_T6',
 'S16_T7',
 'S16_T-2147483648',
 'S16_T48576',
 'S16_T48',
 'S16_T9',
 'S16_T-21474819',
 'S16_T97',
 'S16_T32',
 'S16_T32896',
 'S1_T1',
 'S1_T3',
 'S1_T145',
 'S1_T4',
 'S1_T143',
 'S1_T16',
 'S1_T2',
 'S1_T256',
 'S1_T65536',
 'S1_T5',
 'S1_T128',
 'S1_T16777557',
 'S1_T512',
 'S1_T16777232',
 'S1_T786432',
 'S1_T8',
 'S1_T-2147482816',
 'S1_T1372',
 'S1_T1310',
 'S1_T6',
 'S1_T7',
 'S1_T-2147483648',
 'S1_T48576',
 'S1_T48',
 'S1_T9',
 'S1_T-21474819',
 'S1_T97',
 'S1_T32',
 'S1_T32896',
 'S4_T1',
 'S4_T3',
 'S4_T145',
 'S4_T4',
 'S4_T143',
 'S4_T16',
 'S4_T2',
 'S4_T256',
 'S4_T65536',
 'S4_T5',
 'S4_T128',
 'S4_T16777557',
 'S4_T512',
 'S4_T16777232',
 'S4_T786432',
 'S4_T8',
 'S4_T-2147482816',
 'S4_T1372',
 'S4_T1310',
 'S4_T6',
 'S4_T7',
 'S4_T-2147483648',
 'S4_T48576',
 'S4_T48',
 'S4_T9',
 'S4_T-21474819',
 'S4_T97',
 'S4_T32',
 'S4_T32896',
 'S2_T1',
 'S2_T3',
 'S2_T145',
 'S2_T4',
 'S2_T143',
 'S2_T16',
 'S2_T2',
 'S2_T256',
 'S2_T65536',
 'S2_T5',
 'S2_T128',
 'S2_T16777557',
 'S2_T512',
 'S2_T16777232',
 'S2_T786432',
 'S2_T8',
 'S2_T-2147482816',
 'S2_T1372',
 'S2_T1310',
 'S2_T6',
 'S2_T7',
 'S2_T-2147483648',
 'S2_T48576',
 'S2_T48',
 'S2_T9',
 'S2_T-21474819',
 'S2_T97',
 'S2_T32',
 'S2_T32896']

In [105]:
code_X = []
for ind, row in df.iterrows():
    print(ind)
    if sum(row.notnull()) == 0: # 전부 결측이면 굳이 아래 for문을 순회할 필요가 없음
        record = [0] * len(code_occur_station) * len(codes)
    
    else:
        record = []
        for station, code in itertools.product(code_occur_station, codes):
            dropna_row = row.dropna().reset_index()
            cond = (dropna_row.iloc[:, 0].str.contains(station)) & (dropna_row.iloc[:, 1].str.contains(code))
            record.append(sum(cond) > 0) # True, False로 값을 넣음
    code_X.append(record)

4
6
7
9
11
13
14
16
18
23
26
27
28
31
34
38
41
44
47
49
52
55
56
57
63
68
70
71
72
73
75
76
78
79
81
82
84
86
87
88
91
92
93
95
96
97
98
99
102
103
104
106
107
112
115
116
118
120
122
123
124
125
126
127
131
135
136
137
140
142
145
146
152
153
156
159
160
162
163
165
166
169
174
175
176
177
179
181
183
184
185
187
188
190
191
192
197
200
201
205
206
208
209
216
221
223
226
229
232
235
237
240
242
244
245
246
247
248
249
250
254
255
256
257
258
259
261
264
265
268
269
277
280
282
284
285
286
287
288
290
292
293
295
297
303
304
307
308
309
312
314
315
316
319
320
321
322
323
324
325
327
328
330
332
335
336
337
339
342
343
344
347
351
352
353
355
359
361
362
363
364
365
366
368
372
374
376
377
379
382
383
384
387
388
389
390
391
396
399
400
401
403
404
405
406
407
409
410
412
416
421
424
425
427
428
429
430
431
434
435
436
439
440
441
442
444
445
450
451
452
456
457
459
463
464
466
469
470
471
472
473
476
477
478
479
484
486
487
488
491
492
493
494
495
496
499
500
502
503
504
505
508
510
511
515
516
517
518
519
520
522
523
524
525
527
532
533
534
538
540
541
544
545
547
550
553
555
558
560
561
562
564
565
567
570
571
573
575
576
580
581
584
585
586
587
588
589
594
597
599
601
602
603
604
605
607
609
610
612
613
614
616
618
620
621
625
629
631
632
633
637
638
641
643
645
649
650
652
654
656
662
664
668
669
671
673
674
675
676
678
681
682
684
685
691
692
693
694
695
697
701
702
704
709
712
713
717
718
723
724
725
726
727
729
730
731
734
735
736
738
743
744
745
746
747
748
749
753
754
755
756
757
759
760
761
763
764
766
767
771
772
775
776
777
779
780
783
784
785
789
792
796
797
800
801
803
808
810
811
813
818
821
823
824
825
826
827
831
832
834
835
842
843
844
845
851
852
855
859
860
861
862
865
867
869
870
871
872
873
874
879
882
883
885
887
890
891
892
893
896
899
901
902
903
904
905
907
908
909
910
911
912
913
914
916
917
919
920
925
926
928
929
934
938
939
940
941
942
944
945
947
949
951
955
960
961
967
968
970
973
974
975
976
977
980
985
987
989
990
994
995

KeyboardInterrupt:

In [109]:
code_X = pd.DataFrame(code_X, columns = code_X_columns, index = df.index)
code_X = code_X.astype(int)

ValueError: Shape of passed values is (510, 522), indices imply (10000, 522)

In [ ]:
X = pd.merge(numeric_X, code_X, left_index = True, right_index = True)

### 모델 학습

데이터 분할

In [108]:
from sklearn.model_selection import train_test_split
Train_X, Test_X, Train_Y, Test_Y = train_test_split(X, Y)

NameError: name 'X' is not defined

In [ ]:
Train_X.shape

스케일링

In [107]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler().fit(Train_X)
Train_X = pd.DataFrame(scaler.transform(Train_X), columns = Train_X.columns, index = Train_X.index)
Test_X = pd.DataFrame(scaler.transform(Test_X), columns = Test_X.columns, index = Test_X.index)

NameError: name 'Train_X' is not defined

모델 선택
- 거의 대부분이 이진형이며, 연속형이 일부만 섞여있음
- 타입 차이가 크지 않으므로, 어느 모델을 사용하더라도 무방함
- 샘플과 특징이 모두 많은편이므로, 서포트 벡터 머신을 사용
- 클래스 불균형이 존재하므로, class_weight를 조정

파라미터 튜닝 수행

In [43]:
from sklearn.svm import SVC
from sklearn.metrics import f1_score
from sklearn.model_selection import ParameterGrid

In [106]:
CI = Train_Y.value_counts().iloc[0] / Train_Y.value_counts().iloc[-1] # 클래스 불균형 비율

NameError: name 'Train_Y' is not defined

class_weight as class_weight={0:2, 1:1} means class 0 has weight 2 and class 1 has weight 1.

In [ ]:
CI = Train_Y.value_counts().iloc[0] / Train_Y.value_counts().iloc[-1] # 클래스 불균형 비율 
parameter_grid_linear = ParameterGrid({"C":[10**-2, 10**-1, 10**0, 10**1, 10**2],
                         "class_weight":[{0:1, 1:CI * w} for w in np.arange(0, 1.1, 0.2)],
                         "kernel":["linear"],
                        "random_state":[10, 20, 30]})

parameter_grid_rbf = ParameterGrid({"C":[10**-2, 10**-1, 10**0, 10**1, 10**2],
                    "kernel":["rbf"],
                      "gamma":[10**-2, 10**-1, 10**0, 10**1, 1 0**2],
                      "class_weight":[{0:1, 1:CI * w} for w in np.arange(0, 1.1, 0.2)],
                     "random_state":[10, 20, 30]})

In [45]:
from sklearn.feature_selection import *
best_score = -1
for k in range(130, 10, -10):
    print(k)
    selector = SelectKBest(mutual_info_classif, k = k).fit(Train_X, Train_Y)
    selected_features = Train_X.columns[selector.get_support()]
    
    for grid in [parameter_grid_linear, parameter_grid_rbf]:
        for parameter in grid:
            model = SVC(**parameter).fit(Train_X[selected_features], Train_Y)
            pred_Y = model.predict(Test_X[selected_features])
            score = f1_score(Test_Y, pred_Y)
            
            if score > best_score:
                best_score = score
                best_model = model
                best_feature = selected_features

130
120
110
100
90
80
70
60
50
40
30
20

#### 모델 적용

In [46]:
numeric_test_df = pd.read_csv('sampled_test_numeric.csv')
categorical_test_df = pd.read_csv('sampled_test_categorical.csv')

In [47]:
def pipeline(numeric_df, categorical_df,
             whole_stations, remove_outliers, extract_statistical_features,
             codes, code_occur_station, 
             scaler, model, features):
    # 데이터 카피
    numeric_df_copy = numeric_df.copy()
    categorical_df_copy = categorical_df.copy()
    
    ## 수치형 데이터 정제
    numeric_df_copy.set_index('Id', inplace = True)
    
    # station_X 생성
    station_X = []
    
    for ind, row in numeric_df_copy.iterrows():
        if sum(row.notnull()) == 0:
            station_X.append(np.zeros(len(whole_stations))) # whole stations에 포함된 stations를 추가 
        else:
            not_null_columns = numeric_df_copy.columns[row.notnull()]
            stations = pd.Series(not_null_columns).str.split('_', expand = True).iloc[:, 1].drop_duplicates().tolist()

            station_X.append(np.isin(whole_stations, stations)) # whole stations에 포함된 stations를 추가 

    station_X = pd.DataFrame(station_X, index = numeric_df_copy.index, columns = whole_stations)
    station_X = station_X.astype(int)
    
    # stat_feature_X 생성
    stat_feature_X = numeric_df_copy.apply(extract_statistical_features, axis = 1)
    stat_feature_X.rename({0:"mean", 1: "variance", 2:"max", 3:"min", 4:"kurtosis", 5:"RMS"}, axis = 1, inplace = True)
    
    numeric_X = pd.merge(station_X, stat_feature_X, left_index = True, right_index = True)
    
    ## 범주형 데이터 정제
    categorical_df_copy.set_index('Id', inplace = True)
    
    # code_X_columns 생성
    code_X_columns = []
    for station, code in itertools.product(code_occur_station, codes):
        code_X_columns.append(station + "_" + code)
    
    # code_X 생성
    code_X = []
    for ind, row in categorical_df_copy.iterrows():
        if sum(row.notnull()) == 0: # 전부 결측이면 굳이 아래 for문을 순회할 필요가 없음
            record = [0] * len(code_occur_station) * len(codes)

        else:
            record = []
            for station, code in itertools.product(code_occur_station, codes):
                dropna_row = row.dropna().reset_index()
                cond = (dropna_row.iloc[:, 0].str.contains(station)) & (dropna_row.iloc[:, 1].str.contains(code))
                record.append(sum(cond) > 0) # True, False로 값을 넣음
        code_X.append(record)
    
    code_X = pd.DataFrame(code_X, columns = code_X_columns, index = categorical_df_copy.index)
    code_X = code_X.astype(int)
    
    # X 생성
    X = pd.merge(numeric_X, code_X, left_index = True, right_index = True)
    
    # 스케일링
    X = pd.DataFrame(scaler.transform(X), columns = X.columns, index = X.index)
    
    # 특징 선택
    X = X[features]
    
    # 모델 예측
    output = model.predict(X)
    
    return output

In [48]:
pipeline(numeric_test_df, categorical_test_df,
             whole_stations, remove_outliers, extract_statistical_features,
             codes, code_occur_station, 
             scaler, best_model, best_feature)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)