In [2]:
import os
import pandas as pd
os.chdir(r"/Users/sanghyuk/Documents/preprocessing_python/lecture_source/1. 데이터 핸들링/데이터")

In [13]:
df = pd.read_csv("온라인_판매기록.csv", engine = "python", encoding='CP949')

In [14]:
df.head()

  쇼핑몰     제품  수량     판매금액 쇼핑몰 유형
0  쿠팡  제품_16   8  1134400     쿠팡
1  쿠팡  제품_57   8   439200     쿠팡
2  쿠팡  제품_25   4   495200     쿠팡
3  쿠팡  제품_18   4   578000     쿠팡
4  쿠팡  제품_90   2    75000     쿠팡

In [22]:
df_stat = df[["수량", "판매금액"]]

In [25]:
df_stat.sum(axis=0)

수량           31999
판매금액    2610073400
dtype: int64

In [26]:
df.sum(axis=1)

0       1134408
1        439208
2        495204
3        578004
4         75002
         ...
5810     696505
5811     590406
5812     512505
5813     256206
5814      72807
Length: 5815, dtype: int64

In [15]:
df[['수량', '판매금액']].mean()

수량           5.502837
판매금액    448851.831470
dtype: float64

In [27]:
# 10%

df[['수량', '판매금액']].quantile(0.1)

수량          2.0
판매금액    79700.0
Name: 0.1, dtype: float64

In [28]:
df[['수량', '판매금액']].describe()

                수량          판매금액
count  5815.000000  5.815000e+03
mean      5.502837  4.488518e+05
std       2.867373  3.491219e+05
min       1.000000  1.010000e+04
25%       3.000000  1.528000e+05
50%       6.000000  3.584000e+05
75%       8.000000  6.678000e+05
max      10.000000  1.533000e+06