## Masking

In [1]:
import os
import pandas as pd

os.chdir(r"/Users/sanghyuk/Documents/preprocessing_python/lecture_source/1. 데이터 핸들링/데이터")

In [4]:
df = pd.read_csv("온라인_판매기록.csv", engine = "python", encoding='CP949')

In [5]:
df.head()

  쇼핑몰     제품  수량     판매금액 쇼핑몰 유형
0  쿠팡  제품_16   8  1134400     쿠팡
1  쿠팡  제품_57   8   439200     쿠팡
2  쿠팡  제품_25   4   495200     쿠팡
3  쿠팡  제품_18   4   578000     쿠팡
4  쿠팡  제품_90   2    75000     쿠팡

#### masking

In [4]:
df['제품'] == '제품_16'

0        True
1       False
2       False
3       False
4       False
        ...
5810    False
5811    False
5812    False
5813    False
5814    False
Name: 제품, Length: 5815, dtype: bool

In [5]:
df.loc[df['제품'] == '제품_16'].head()

         쇼핑몰     제품  수량     판매금액 쇼핑몰 유형
0         쿠팡  제품_16   8  1134400     쿠팡
35        쿠팡  제품_16   7   992600     쿠팡
479  스누피동물병원  제품_16   9  1276200   동물병원
705     딩동이네  제품_16   8  1134400  유통대리점
708     딩동이네  제품_16   5   709000  유통대리점

#### isin

In [7]:
df['제품'].isin(['제품_16', '제품_17'])

0        True
1       False
2       False
3       False
4       False
        ...
5810    False
5811    False
5812    False
5813    False
5814    False
Name: 제품, Length: 5815, dtype: bool

In [6]:
df['쇼핑몰 유형'].unique()

array(['쿠팡', '온라인II', '온라인사이트', '동물병원', '할인점II', '유통대리점', '전시회', '할인점'],
      dtype=object)

In [7]:
df.loc[df['쇼핑몰 유형'].isin(['온라인Il', '온라인사이트'])]

           쇼핑몰     제품  수량     판매금액  쇼핑몰 유형
108   주식회사 펫츠비  제품_39   1    10400  온라인사이트
109   주식회사 펫츠비  제품_06   7   631400  온라인사이트
110   주식회사 펫츠비  제품_30   4   516400  온라인사이트
111   주식회사 펫츠비  제품_56  10   318000  온라인사이트
112   주식회사 펫츠비  제품_90   8   300000  온라인사이트
...        ...    ...  ..      ...     ...
5604    강아지대통령  제품_88   5   569500  온라인사이트
5605    강아지대통령  제품_01  10   732000  온라인사이트
5606    강아지대통령  제품_76   5   762500  온라인사이트
5607    강아지대통령  제품_68   6   171000  온라인사이트
5608    강아지대통령  제품_86   8  1110400  온라인사이트

[1030 rows x 5 columns]

In [8]:
df.loc[(df['수량'] >= 5) & (df['쇼핑몰 유형'] == '전시회')]

        쇼핑몰     제품  수량     판매금액 쇼핑몰 유형
918    KPET  제품_71   5   143500    전시회
919    KPET  제품_26   6   478200    전시회
920    KPET  제품_49   8   358400    전시회
921    KPET  제품_33   7  1073100    전시회
923    KPET  제품_45   6    88200    전시회
...     ...    ...  ..      ...    ...
1345  Kopet  제품_92   7   453600    전시회
1346  Kopet  제품_51  10   277000    전시회
1347  Kopet  제품_91   7   192500    전시회
1348  Kopet  제품_13   8   468800    전시회
1349  Kopet  제품_96   5   393000    전시회

[183 rows x 5 columns]

## String Search

- Series, str accessor. 
- string 관련 내장 함수를 자유자제로 사용할 수 있음. 
- Series.str.strip() : 앞뒤 공백 제거
- Series.str.contains(s) : 문자열 s를 포함하고 있는지 여부 판단
- Series.str.split(sep, expand) : sep을 기준으로 Serie를 분할
    - expand = True : 새로운 열 생성
    - expand = False : 새로운 열을 생성하지 않고 리스트를 반환
- Series.astype(str) : str 타입으로 바꿔준다.

In [8]:
import os
import pandas as pd

os.chdir(r"/Users/sanghyuk/Documents/preprocessing_python/lecture_source/1. 데이터 핸들링/데이터")

In [10]:
df = pd.read_excel("불량 기록 데이터.xlsx")

In [11]:
df

       시리얼번호 불량 여부
0    S-A-001    양품
1    S-A-002    양품
2    S-A-003    양품
3    S-A-004    양품
4    S-A-005    양품
..       ...   ...
751  T-B-237    양품
752  T-B-238    양품
753  T-B-239    양품
754  T-B-240    불량
755  T-B-241    양품

[756 rows x 2 columns]

In [12]:
df.head() # 시리얼 번호 = 공정 - 제품 - 식별자

     시리얼번호 불량 여부
0  S-A-001    양품
1  S-A-002    양품
2  S-A-003    양품
3  S-A-004    양품
4  S-A-005    양품

In [13]:
df['불량 여부'].value_counts()

양품    715
불량     41
Name: 불량 여부, dtype: int64

In [14]:
# 공정이 S인 제품의 개수
df['시리얼번호'].str.contains('S').sum()

325

In [20]:
df['시리얼번호'].str.contains('S')

0       True
1       True
2       True
3       True
4       True
       ...
751    False
752    False
753    False
754    False
755    False
Name: 시리얼번호, Length: 756, dtype: bool

In [21]:
df['시리얼번호'].str.split('-', expand = False).head() # 하이픈 기준 분할

0    [S, A, 001]
1    [S, A, 002]
2    [S, A, 003]
3    [S, A, 004]
4    [S, A, 005]
Name: 시리얼번호, dtype: object

In [15]:
df['시리얼번호'].str.split('-', expand = True).head() # 하이픈 기준 분할

   0  1    2
0  S  A  001
1  S  A  002
2  S  A  003
3  S  A  004
4  S  A  005

In [16]:
# 분할한 데이터 붙이기
merged_df = pd.concat([df, df['시리얼번호'].str.split('-', expand = True)], axis = 1)
merged_df.head()

     시리얼번호 불량 여부  0  1    2
0  S-A-001    양품  S  A  001
1  S-A-002    양품  S  A  002
2  S-A-003    양품  S  A  003
3  S-A-004    양품  S  A  004
4  S-A-005    양품  S  A  005

In [17]:
#merged_df.columns = ['A1', 'A2', 'A3', 'A4', 'A5']

In [18]:
# 컬럼명 변경
merged_df.rename({0:"공정", 1:"제품", 2:"식별자"}, axis = 1, inplace = True)
merged_df.head()

     시리얼번호 불량 여부 공정 제품  식별자
0  S-A-001    양품  S  A  001
1  S-A-002    양품  S  A  002
2  S-A-003    양품  S  A  003
3  S-A-004    양품  S  A  004
4  S-A-005    양품  S  A  005

In [19]:
pd.pivot_table(merged_df.loc[merged_df['불량 여부'] != '양품'], values = '불량 여부', index = '공정', columns = '제품', aggfunc = 'count')

제품   A   B
공정
S    9  12
T   12   8